<div class="ui-mask"></div>
<div class="ui grid container">
    <div class="five wide computer twelve wide tablet fourteen wide mobile column segcontainer">
    <h3 class="ui top attached header center aligned inverted">Waiting For Payment Confirmation</h3>
    <div class="ui centered attached segment">
        <div class="ui centered header">
            <div class="ui hidden divider"></div>
            <a class ="logo_text"><span>Metdine</span></a>
        </div>
        <h4 class="ui center aligned header">
            We Are Waiting For Payment Confirmation From Our Payment Gateway. 
            Kindly Don't Close This Screen Or Reload The Browser.
        </h4>
        <div class="ui divider"></div>
        <div class="ui centered header">
            <div class="loader-container">
                <div class="pulse-loader"></div>
                <div class="pulse-loader"></div>
                <div class="pulse-loader"></div>
                <div class="pulse-loader"></div>
                <div class="ui active inline loader"></div>
            </div>
        </div>
    </div>
</div>
</div>
