@import "https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro&display=swap";
.header,.label{
    font-family: 'Righteous', cursive;
}
.content{
    margin-left: 5%;
    width: 50% !important;
}
.label{
    margin-bottom:3%;
}