@import "https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro&display=swap";
.header,.label{
    font-family: 'Righteous', cursive;
}
.content{
    margin-left: 5%;
    width: 50% !important;
}
.label{
    margin-bottom:3%;
}
.nosellersheading{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width:100%;
}

@media only screen and (max-width:500px){
    .ui.grid{
        margin-left:0 !important;
    }
}
