<div class="column">
    <h2 class="ui centered header">Trending Sellers</h2>
    <div class="ui divider"></div>
    <div class="ui grid" *ngIf="trendingSellers else loading">
        <div class="column row" *ngFor="let seller of trendingSellers">
            <div class="image">
                <a 
                [routerLink]="['/user',{ outlets : { 'userRouterOutlet' : ['seller-page',seller.id]}}]" 
                 routerLinkActive="active">
                    <img class="ui centered small rounded image" src="{{seller.logo}}">
                </a>
              </div>
            <div class="content">
                <h3 class="ui header">
                    {{seller.first_name}} {{seller.last_name}}
                </h3>
                <a class="ui violet label">
                    {{getCategory(seller.category)}}
                  </a>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="ui centered column grid">
        <div class="ui hidden divider"></div>
        <div class="ui active inline loader"></div>
    </div>
</ng-template>
