<div class="ui-mask"></div>
<div class="ui grid container">
    <div class="five wide computer twelve wide tablet fourteen wide mobile column segcontainer">
    <h3 class="ui top attached header center aligned inverted">Please Confirm Your Email</h3>
    <div class="ui centered attached segment">
        <div class="ui centered header">
            <div class="ui hidden divider"></div>
            <a class ="logo_text"><span>Metdine</span></a>
        </div>
        <h4 class="ui center aligned header">
            Please Go To Your Email And Click On The Confirmation Link To Confirm Your Account.
        </h4>
        <div class="ui divider"></div>
        <button class="ui negative fluid button" (click)="takeMeToLogin()">
            I Have Confirmed My E-mail. Log Me In.
        </button>
    </div>
</div>
</div>
