<div class="ui grid container">
  <div class="ui basic modal" *ngIf="clearCartModalShow">
    <div class="ui two column computer column mobile centered grid">
      <div class="row">
    <div class="ui compact center aligned segment clcartmodal">
    <div class="ui icon header">
      <i class="shopping cart icon"></i>
      Clear Cart
    </div>
    <div class="ui hidden divider"></div>
    <div class="content">
      <p>Are You Sure You Want To Clear Your Cart</p>
    </div>
    <div class="ui hidden divider"></div>
    <div class="actions">
      <div class="ui red  cancel inverted button" (click)="clearCartModalShow = !clearCartModalShow">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button" (click)="cart.clearCart(); clearCartModalShow = !clearCartModalShow">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
    </div>
  </div>
    </div>
  </div>
  <ng-container *ngIf="cart.getCartLength() else emptyCart">
    <div class="sixteen wide mobile six wide computer twelve wide tablet right floated column">
    <div class="ui center aligned segment" [ngClass]="{
      'compact' : winWidth > 500
    }">
    <div class="ui computer only center aligned row grid">
    <h4 class="ui header" *ngIf="sellerLogo">
        <img src="{{sellerLogo}}" class="ui rounded image" (click)="sellerPage()">
        {{sellerName}}
      </h4>
    </div>
      <img class="ui tiny rounded centered mobile only grid image" src="{{sellerLogo}}" (click)="sellerPage()">
      <div class="ui mobile only center aligned row grid">
        <h3 class="ui centered header">{{sellerName}}</h3>
      </div>
      <div class="ui divider"></div>
      <div class="row" *ngFor="let item of cart.items;">
        <div class="ui grid cart">
          <div class="three wide column" *ngIf="winWidth > 500 || winWidth < 350 else title">
            <img class="ui avatar image" src="{{item.image}}">
          </div>
          <div class="four wide computer tablet only column">
            <h5 class="header">{{item.meal_title}}</h5>
          </div>
          <ng-template #title>
            <div class="six wide column">
              <h5 class="header">{{item.meal_title}}</h5>
            </div>
          </ng-template>
          <div class="five wide column">
            <app-inc-dec-cart [productId] = "item.meal_id" [toggle]="true" class="item"></app-inc-dec-cart>
          </div>
          <div class="four wide computer tablet five wide mobile column" *ngIf="winWidth > 350 else price">
            <h5 class="header">{{item.meal_price * item.quantity | currency : 'INR'}}</h5>
          </div>
          <ng-template #price>
            <div class="eight wide column">
              <h5 class="header">{{item.meal_price * item.quantity | currency : 'INR'}}</h5>
            </div>
          </ng-template>
        </div>
      <div class="ui hidden divider"></div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui right aligned grid">
      <div class="left floated left aligned ten wide column">
        <h4 class="ui header">Delivery Charge</h4>
      </div>
      <div class="right floated right aligned six wide column">
        <h4 class="ui header">{{cart.delivery_charge | currency : 'INR'}}</h4> 
      </div>
    </div>
    <div class="ui right aligned grid">
    <div class="left floated left aligned ten wide column">
      <h4 class="ui header">To Pay: </h4>
    </div>
    <div class="right floated right aligned six wide column">
      <h4 class="ui header">{{cart.total | currency : 'INR'}}</h4> 
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="two ui buttons">
    <button class="ui positive button" (click)="checkoutCart(cart.total)">Checkout</button>
    <button class="ui negative button" (click)="clearCartModalShow = !clearCartModalShow;">Clear Cart</button>
  </div>
</div>
</div>
</ng-container>

<!-- 
  Placeholder for if cart is empty
-->
<ng-template #emptyCart>
  <h2 class="ui center aligned icon header" id="empty-cart">
    <i class="shopping cart icon"></i>
    Your Cart Is Empty
  </h2>
</ng-template>
</div>
