<div class="ui grid" [ngClass]="{'container' : winwidth < 500}">
<div class=" ui mobile only column toggleMenuClass " *ngIf="deviceActive === 'smaller'">
    <button  (click)="toggleMenuBtn()" [style.color]="toggleMenu ? '#fff' : 'black'">
        <i class="icon" [ngClass]="{
            'bars' : !toggleMenu,
            'close' : toggleMenu
        }"></i>
    </button>
</div>
<div class="four wide column sideBar" [ngClass]="{
    'computer only' : deviceActive === 'computer',
    'mobile tablet' : deviceActive === 'smaller'
    }" id="toggleDisplay">
<app-seller-sidebar (hideMenu)="hideSidebar($event)"></app-seller-sidebar>
</div>
<div class="ui sixteen wide mobile twelve wide tablet twelve wide computer centered column">
<router-outlet name="sellerRouterOutlet"></router-outlet>
<app-footer *ngIf="winwidth > 500"></app-footer>
</div>
</div>
<app-footer *ngIf="winwidth < 500"></app-footer>
