<div class="paymentInfo" *ngIf="showPaymentInfoModal">
<div class="ui modal">
  <i class="close icon" (click)="showPaymentInfoModal = false;"></i>
  <ng-container *ngIf="sellerPaymentInfo else loader">
    <ng-container *ngIf="sellerPaymentInfo.account_activated || sellerPaymentInfo.upi_activated else addPaymentInfo">
  <div class="ui icon header">
    <i class="circular rupee sign icon"></i>
   Seller Payment Details Details
  </div>
  <div class="image content">
    <div class="ui image" [ngClass]="{
      'large' : windowWidth > 500,
      'small' : windowWidth < 500
    }">
      <img src="{{sellerDashOptions.logo}}">
    </div>
    <div class="seller-profile-data description">
      <div class="column" *ngIf="sellerPaymentInfo.account_activated">
      <h4 class="ui header">
        Total Revenue Collected :  {{sellerDashOptions.revenue | currency : 'INR'}}
      </h4>
      <h4 class="ui header">
        Bank A/C Number : {{sellerPaymentInfo.bank_account_number}}
      </h4>
      </div>
      <h4 class="ui header">
        IFSC Code : {{sellerPaymentInfo.ifsc_code}}
      </h4>
      <div class="ui hidden divider"></div>
      <div class="column" *ngIf="sellerPaymentInfo.upi_activated">
      <h4 class="ui header">
        UPI ID : {{sellerPaymentInfo.upi_id}}
      </h4>
    </div>
    <div class="ui divider"></div>
    <div class="ui positive right floated button" (click)="updatePaymentInfo()">
      Update Payment Info
    </div>
    </div>
  </div>
</ng-container>
</ng-container>
</div>
</div>
<!--
  Edit seller details
-->
<div class="ui grid editDetails" [ngClass]="{'scrollMap':editAddress}" *ngIf="editDetailsShow">
  <div class="closeMap" *ngIf="editAddress">
    <button class="ui negative icon button" (click)="editAddress = false">
      <i class="close icon"></i>
    </button>
  </div>
  <app-geolocation *ngIf="editAddress" [isSellerSide]="true"></app-geolocation>
<div class="ui modal" *ngIf="!editAddress">
  <i class="close icon" (click)="editDetailsShow = false;"></i>
  <div class="header">
   Edit Details
  </div>
  <div class="image content">
    <div class="ui image" [ngClass]="{
      'large' : windowWidth > 500,
      'small' : windowWidth < 500
    }">
      <img src="{{sellerDashOptions.logo}}">
    </div>
    <div class="scrolling description">
      <div class="ui form">
        <form [formGroup]="sellerDetails">
      <div class="two fields">
        <div class="field">
          <label>First name</label>
          <input type="text" formControlName="first_name" placeholder="First Name" value="{{sellerDashOptions.first_name}}">
        </div>
        <div class="field">
          <label>Last name</label>
          <input type="text" formControlName="last_name" placeholder="Last Name"  value="{{sellerDashOptions.last_name}}">
        </div>
      </div>
      <div class="field">
        <label>Phone Number</label>
        <input type="text"  placeholder="Phone Number"  value="{{sellerDashOptions.phone}}">
      </div>
      <div class="two fields">
        <div class="field">
        <label>Address</label>
        <input type="text" formControlName="address" placeholder="Phone Number"  value="{{sellerDashOptions.address}}">
      </div>
        <div class="field">
          <label>Edit Address On map</label>
        <div class="ui red right labeled icon button" (click)="editAddress = true;">
          Open Map
          <i class="map pin icon"></i>
        </div>
      </div>
      </div>
      <div class="field">
        <label>Edit Image</label>
        <input type="file" (change)="uploadFile($event)">
      </div>
    </form>
    </div>
    </div>
  </div>
  <div class="actions" id="actionId">
    <button class="ui blue right labeled icon button" (click)="updatePhone()">
      Update Phone Number
      <i class="phone icon"></i>
    </button>
    <div class="ui black right labeled icon button" (click)="editDetailsShow = false">
      Reset
      <i class="close icon"></i>
    </div>
    <div class="ui positive right labeled icon button" (click)="updateSellerDetails()">
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
</div>
<div class="ui stackable grid">
<div class="ui ten wide stretched column">
<div class="ui centered grid quickoptions">
  <ng-container *ngIf="sellerDashOptions else quickOptionsPlaceholder">
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Meals Completed
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.meals}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Orders Completed
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.orders}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Revenue Generated
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.revenue | currency : 'INR'}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="center aligned column settings">
        <div class="ui center aligned row">
          <button class="circular ui primary icon button" (click)="editDetailsShow = true">
            <i class="cog icon"></i>
            </button>
        </div>
        <div class="ui center aligned row">
          <h4 class="ui header">
            Edit Profile
          </h4>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="ui raised segment" [ngClass]="{
  'loading' : ! sellerDashOptions
}">
  <ng-container *ngIf="sellerDashOptions">
    <div class="row">
    <img class="ui medium rounded centered image" src="{{sellerDashOptions.logo}}">
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <h3 class="ui center aligned header">
      <a class="ui black label">
        Seller-Id : #{{sellerDashOptions.id}}
      </a>
    </h3>
      <h4 class="ui center aligned header">
        <i class="user icon"></i> {{sellerDashOptions.first_name}} {{sellerDashOptions.last_name}}
      </h4>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <h4 class="ui center aligned header">
        <i class="phone square icon"></i>{{sellerDashOptions.phone}}
      </h4>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <a href = "https://www.google.com/maps/search/?api=1&query={{sellerDashOptions.latitude}}
      {{sellerDashOptions.longitude}}">
      <h4 class="ui center aligned header locationtext" data-tooltip="Open In Map" data-inverted="" data-position="bottom center">
        <i class="map pin icon"></i> {{sellerDashOptions.address}}
      </h4>
    </a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui fluid blue button" (click)="showPaymentData()">
      View Payment Information
    </div>
  </ng-container>
</div>
</div>
<div class="six wide stretched column">
  <div class="ui segment" [ngClass]="{
    'loading' : !sellerCompletedOrders
  }">
    <h2 class="ui center aligned header">
      Previously Completed Orders
    </h2>
    <div class="ui center aligned divider"></div>
    <ng-container *ngIf="getItemsLength() else completedorderspl">
    <div class="column" *ngFor="let order of sellerCompletedOrders">
      <app-order-card [order]="order"></app-order-card>
      <div class=" ui hidden divider">
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <button class="ui positive fluid button" (click)="toCompletedOrders()">
      View All Orders
    </button>
  </ng-container>
  </div>
</div>
</div>
<div class="sixteen wide column" id="sellerItems">
  <div class="hidden divider"></div>
  <div class=" ui segment sellerItemsSegment">
    <app-seller-items [showCount]="2"></app-seller-items>
  </div>
</div>
<!--
    Placeholder For Quick Dashboard Data
  -->
<ng-template #quickOptionsPlaceholder>
  <div class="ui three column stackable grid">
    <div class="column" *ngFor="let ph of [0,1,2]">
      <div class="ui raised segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="medium line"></div>
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #completedorderspl>
  <div class="nocompletedOrdersMessage">
    <h3 class="ui centered header">
      No Orders Completed Yet.
    </h3>
  </div>
 </ng-template>
 <ng-template #loader>
   <div class="active-loader">
     <div class="ui active inline loader"></div>
   </div>
 </ng-template>
 <ng-template #addPaymentInfo>
  <div class="no-payment-message">
    <h4 class="ui header">
      No Payment Information Found.
    </h4>
    <div class="ui divider"></div>
    <button class="ui positive button" (click)="updatePaymentInfo()">
      Add Payment Info
    </button>
  </div>
</ng-template>
