<div class="ui stackable grid">
<div class="ui ten wide stretched column">
<div class="ui centered grid quickoptions">
  <ng-container *ngIf="sellerDashOptions else quickOptionsPlaceholder">
    <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Meals Completed
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.meals}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Orders Completed
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.orders}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="content">
            <div class="header">
              <h3 class="ui centered header">
                Revenue Generated
              </h3>
            </div>
            <div class="ui divider"></div>
            <div class="meta">
              <span>
                <h1 class="ui centered header">
                  {{sellerDashOptions.revenue}}
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="ui raised segment" [ngClass]="{
  'loading' : ! sellerDashOptions
}">
  <ng-container *ngIf="sellerDashOptions">
    <div class="row">
    <img class="ui medium rounded centered image" src="{{sellerDashOptions.logo}}">
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <h3 class="ui center aligned header">
      <a class="ui black label">
        Seller-Id : #{{sellerDashOptions.id}}
      </a>
    </h3>
      <h4 class="ui center aligned header">
        <i class="user icon"></i> {{sellerDashOptions.first_name}} {{sellerDashOptions.last_name}}
      </h4>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <h4 class="ui center aligned header">
        <i class="phone square icon"></i>{{sellerDashOptions.phone}}
      </h4>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <h4 class="ui center aligned header">
        <i class="map pin icon"></i> {{sellerDashOptions.address}}
      </h4>
    </div>
  </ng-container>
</div>
</div>
<div class="six wide column">
  <div class="ui segment" [ngClass]="{
    'loading' : !sellerCompletedOrders
  }">
    <h2 class="ui center aligned header">
      Previously Completed Orders
    </h2>
    <div class="ui center aligned divider"></div>
    <div class="column" *ngFor="let order of sellerCompletedOrders">
      <app-order-card [order]="order"></app-order-card>
      <div class=" ui hidden divider">
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <button class="ui positive fluid button">
      View All Orders
    </button>
  </div>
</div>
</div>
<div class="sixteen wide column">
  <div class="hidden divider"></div>
  <div class=" ui segment">
    <app-seller-items></app-seller-items >
  </div>
</div>

<!--
    Placeholder For Quick Dashboard Data
  -->
<ng-template #quickOptionsPlaceholder>
  <div class="ui three column stackable grid">
    <div class="column" *ngFor="let ph of [0,1,2]">
      <div class="ui raised segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="medium line"></div>
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>