<div class="ui computer only column grid">
<mat-toolbar *ngIf="userLoggedIn">
    <mat-toolbar-row>
           <a [routerLink]="['/user',{outlets : {'userRouterOutlet' : ['home']}}]" routerLinkActive="active" class ="logo_text"><span>Metdine</span></a>
           <ng-container *ngIf="product.address else gettingAddress">
           <a routerLink="/map">
            <label class="address">{{product.address | contentLength : 50}}</label>
            </a>
            </ng-container>
           <span class="spacer"></span>
           <a [routerLink]="['/user',{outlets : {'userRouterOutlet' : ['profile']}}]" routerLinkActive="active"><button mat-icon-button aria-label="User's Profile">
            <mat-icon class="icon" aria-hidden="false" aria-label="Metdine heart icon">person</mat-icon>
             </button>
             <label *ngIf="username else loader">{{username}}</label>
            </a>
            <ng-template #loader>
                <div class="ui active inline loader"></div>
            </ng-template>
           <div class="ui horizontal list">
            <div class="item">
                <a class="ui black circular label" *ngIf="cart.items.length">{{cart.items.length}}</a>
            </div>
            <div class="item">
           <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['cart']}}]" routerLinkActive="active"><button mat-icon-button aria-label="User's Shopping Cart">
           <mat-icon class="icon" aria-hidden="false" aria-label="cart icon">shopping_cart
            </mat-icon>
            </button>
            <label>Cart</label>
            </a>
            </div>
            </div>
           <a routerLink="/seller-side" routerLinkActive="active"><button mat-icon-button aria-label="Switch to Seller">
           <mat-icon class="icon" aria-hidden="false"
           matTooltip="Switch To Seller" aria-label="Metdine heart icon">swap_calls</mat-icon>
           </button>
           <label>Seller Side</label>
            </a>
            <button mat-icon-button aria-label="Search">
                <mat-icon class="icon searchDesktop" aria-hidden="false" aria-label="Metdine search icon">
                 search
                 </mat-icon>
             </button>
             <label class="searchDesktop">Search</label>
           <button mat-icon-button aria-label="Log Out" (click)="logUserOut()">
           <mat-icon class="icon" aria-hidden="false" aria-label="Metdine delete icon">
            exit_to_app
            </mat-icon>
        </button>
        <label (click)="logUserOut()">Log Out</label>
    </mat-toolbar-row>
</mat-toolbar>
<div class="sixteen wide centered column grid container noLocation" *ngIf="product.disabledPosition">
  <h3 class="ui centered sub header">
    <i class="triangle exclamation icon"></i>
     You Have Disabled Location Services For Metdine.in. Please Turn Them On From Browser Settings.
  </h3>
</div>
<div class="ui sixteen wide centered  column grid container" *ngIf="activeOrderStatus && activeOrderData && userLoggedIn && orderStatus.orderStatus">
    <div class="two wide column">
        <div class="loader-container">
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
        </div>
    </div>
    <ng-container *ngIf="orderStatus.orderStatus === 5 else computerActiveOrderNav">
        <div class="fourteen wide column">
            <h3 class="ui centered header">
                We Are Waiting For The Seller To Accept Your Order. Please Wait Patiently.
                <a [routerLink]="['/user',{outlets:{'userRouterOutlet' : ['active-order',activeOrderId]}}]" class="ui red label"
                data-position="bottom left" data-inverted="" data-tooltip="View This Order">
                    View Order
                </a>
            </h3>
        </div>
    </ng-container>
</div>
</div>
<!--
    Navbar for mobile and tablet
-->
<div class="ui sixteen wide mobile tablet only centered column grid mobileActiveOrderNavbar container" id="mobNav" *ngIf="activeOrderStatus && activeOrderData">
    <div class="two wide column">
        <div class="loader-container">
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
            <div class="pulse-loader"></div>
        </div>
    </div>
    <ng-container *ngIf="orderStatus.orderStatus === 5 else activeOrderNavbarMobile">
        <div class="fourteen wide column">
            <h5 class="ui sub header">
                Waiting For The Seller To Accept Order.
            </h5>
            <a [routerLink]="['/user',{outlets:{'userRouterOutlet' : ['active-order',activeOrderId]}}]" class="ui red label"
            data-position="right center" data-inverted="" data-tooltip="View This Order">
                View Order
            </a>
        </div>
    </ng-container>
</div>
<div class="ui mobile tablet only centered mobileNav grid">
    <ng-container *ngIf="userLoggedIn">
            <div class="three wide center aligned column">
                <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['home']}}]"
                 routerLinkActive="active">
                <h6 class="ui center aligned icon header">
                    <i class="home icon"></i>
                    Home
                </h6>
                </a>
            </div>
            <div class="three wide column" (click)="searchOn = true;" [ngClass]="{'active' : searchOn}">
                <h6 class="ui center aligned icon header">
                    <i class="search icon"></i>
                    Search
                </h6>
            </div>
            <div class="three wide column">
                <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['profile']}}]" routerLinkActive="active">
                <h6 class="ui center aligned icon header">
                    <i class="user icon"></i>
                    Profile
                </h6>
                </a>
            </div>
            <div class="three wide column">
                <a [routerLink]="['/seller-side']" routerLinkActive="active" (click)="userLoggedIn = false">
                <h6 class="ui center aligned icon header">
                    <i class="exchange icon"></i>
                    Seller
                </h6>
            </a>
            </div>
            <div class="three wide column">
                <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['cart']}}]" routerLinkActive="active">
                <h6 class="ui center aligned icon header">
                  <a class="ui olive circular label cartLength" *ngIf="cart.items.length">{{cart.items.length}}</a>
                    <i class="shopping cart icon"></i>
                    Cart
                </h6>
                </a>
            </div>
    </ng-container>
    <div class="sixteen wide centered column grid container noLocationMobile" *ngIf="product.disabledPosition">
      <h3 class="ui centered sub header">
        <i class="triangle exclamation icon"></i>
         Location Services Are Off. Please Turn Them On.
      </h3>
    </div>
</div>

<!--
    Search Mask
-->
<app-search-mask *ngIf="searchOn" (hideSearchMask)="turnSearchOff($event)"></app-search-mask>
<div class="closeSearch" *ngIf="searchOn">
<h1 class="ui header" (click)="searchOn = false">
    X
</h1>
</div>

<ng-template #activeOrderNavbarMobile>
    <!-- <div class="two wide column mobileActiveOrderBar" *ngIf="screenSize > 370">
        <a class="ui image black label">
                #{{activeOrderId}}
        </a>
    </div> -->
    <div class="five wide column"*ngIf="screenSize > 360 else smallScreenStatus">
        <a class="ui image label"
        [ngClass]="{
            'green' : orderStatus.orderStatus === 1,
            'teal' : orderStatus.orderStatus === 2,
            'yellow' : orderStatus.orderStatus === 3,
            'red' : orderStatus.orderStatus === 4
            }">
                {{orderStatus.orderStatus | labelFilter : 'status'}}
        </a>
    </div>
    <div class="four wide column">
        <a class="ui orange label">
            <i class="clock icon" *ngIf="screenSize > 380"></i>{{activeOrderData[0].time | contentLength : 0 : true}}<span *ngIf="screenSize < 380">min</span>
             </a>
    </div>
    <div class="five wide column" *ngIf="screenSize > 370 else smallScreenActiveOrder">
        <a [routerLink]="['/user',{outlets:{'userRouterOutlet' : ['active-order',activeOrderId]}}]" class="ui red label"
        data-position="top left" data-inverted="" data-tooltip="View This Order">
            View Order
        </a>
    </div>
</ng-template>
<ng-template #computerActiveOrderNav>
    <div class="two wide column">
        <a class="ui image black label">
            Order Id
            <a class="detail">
                #{{activeOrderId}}
            </a>
        </a>
    </div>
    <div class="three wide column">
        <a
        [routerLink]="['/user',{ outlets : { 'userRouterOutlet' : ['seller-page',activeOrderData[0].seller_id]}}]"
        routerLinkActive="active">
        <div class="ui header">
        <img class="ui mini rounded image" src="{{activeOrderData[0].seller_logo}}">
        {{activeOrderData[0].seller_name}}
        </div>
        </a>
    </div>
    <div class="three wide column">
        <a class="ui image label"
        [ngClass]="{
            'green' : orderStatus.orderStatus === 1,
            'teal' : orderStatus.orderStatus === 2,
            'yellow' : orderStatus.orderStatus === 3,
            'red' : orderStatus.orderStatus === 4
            }">
            Order Status
            <a class="detail">
                {{orderStatus.orderStatus | labelFilter : 'status'}}
            </a>
        </a>
    </div>
    <div class="four wide column">
        <a class="ui orange label">
            Time For Preparation
            <a class="detail">
            <i class="clock icon"></i>{{activeOrderData[0].time}}
             </a>
          </a>
    </div>
    <div class="two wide column">
        <a [routerLink]="['/user',{outlets:{'userRouterOutlet' : ['active-order',activeOrderId]}}]" class="ui red label"
        data-position="top left" data-inverted="" data-tooltip="View This Order">
            View Order
        </a>
    </div>
</ng-template>
<ng-template #smallScreenActiveOrder>
    <div class="five wide column">
        <a [routerLink]="['/user',{outlets:{'userRouterOutlet' : ['active-order',activeOrderId]}}]" class="ui red label"
        data-position="top left" data-inverted="" data-tooltip="View This Order">
            View Order
        </a>
    </div>
</ng-template>
<ng-template #smallScreenStatus>
    <div class="five wide column">
        <a class="ui image label"
        [ngClass]="{
            'green' : orderStatus.orderStatus === 1,
            'teal' : orderStatus.orderStatus === 2,
            'yellow' : orderStatus.orderStatus === 3,
            'red' : orderStatus.orderStatus === 4
            }">
                {{orderStatus.orderStatus | labelFilter : 'status'}}
        </a>
    </div>
</ng-template>
<ng-template #gettingAddress>
    <h3 class="ui centered header getAddress" *ngIf="!product.disabledPosition">
      Getting Your Location...
      <div class="ui active inline loader"></div>
    </h3>
    <h3 class="ui centered header getAddress" *ngIf="product.disabledPosition">
      Location Error...
    </h3>
  </ng-template>
