<mat-toolbar color="primary" *ngIf="userLoggedIn">
    <mat-toolbar-row>
           <a routerLink='/home'><span>Metdine</span></a>
           <span class="spacer"></span>
           <div class="ui horizontal list">
            <div class="item">
                    <a class="ui black circular label" *ngIf="itemsInCart">{{itemsInCart}}</a>
            </div>
            <div class="item">
           <a href="/cart"><button mat-icon-button aria-label="User's Shopping Cart">
           <mat-icon class="icon" aria-hidden="false" aria-label="cart icon">shopping_cart
            </mat-icon>
            </button></a>
            </div>
            </div>
            <a href="/profile"><button mat-icon-button aria-label="User's Profile">
           <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">person</mat-icon>
            </button></a>
            <button mat-icon-button aria-label="User Notifications">
           <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">notifications</mat-icon>
           </button>
           <a [routerLink]="['/seller-dashboard']" routerLinkActive="active"><button mat-icon-button aria-label="Switch to Seller">
           <mat-icon class="icon" aria-hidden="false" 
           matTooltip="Switch To Seller" aria-label="Example heart icon">swap_calls</mat-icon>
           </button>
            </a>
           <button mat-icon-button aria-label="Log Out" (click)="logUserOut()">
           <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">
            exit_to_app
            </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

