<div class="ui computer only column grid">
<mat-toolbar *ngIf="userLoggedIn">
    <mat-toolbar-row>
           <a href="/user" class ="logo_text"><span>Metdine</span></a>
           <ng-container *ngIf="product.address">
           <a routerLink="/map">
            <label class="address">{{product.address | contentLength : 60}}</label>
            </a>
            </ng-container>
           <span class="spacer"></span>
           <a [routerLink]="['/user',{outlets : {'userRouterOutlet' : ['profile']}}]"><button mat-icon-button aria-label="User's Profile">
            <mat-icon class="icon" aria-hidden="false" aria-label="Metdine heart icon">person</mat-icon>
             </button>
            </a>
            <label *ngIf="username">{{username}}</label>
           <div class="ui horizontal list">
            <div class="item">
                <a class="ui black circular label" *ngIf="this.cart.getCartLength()">{{this.cart.getCartLength()}}</a>
            </div>
            <div class="item">
           <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['cart']}}]" routerLinkActive="active"><button mat-icon-button aria-label="User's Shopping Cart">
           <mat-icon class="icon" aria-hidden="false" aria-label="cart icon">shopping_cart
            </mat-icon>
            </button>
            </a>
            </div>
            </div>
            <label>Cart</label>
           <a routerLink="/seller-side" routerLinkActive="active"><button mat-icon-button aria-label="Switch to Seller">
           <mat-icon class="icon" aria-hidden="false"
           matTooltip="Switch To Seller" aria-label="Metdine heart icon">swap_calls</mat-icon>
           </button>
            </a>
            <label>Seller Side</label>
            <button mat-icon-button aria-label="Search" (click)="searchOn = true;">
                <mat-icon class="icon" aria-hidden="false" aria-label="Metdine search icon">
                 search
                 </mat-icon>
             </button>
             <label>Search</label>
           <button mat-icon-button aria-label="Log Out" (click)="logUserOut()">
           <mat-icon class="icon" aria-hidden="false" aria-label="Metdine delete icon">
            exit_to_app
            </mat-icon>
        </button>
        <label>Log Out</label>
    </mat-toolbar-row>
</mat-toolbar>
</div>
<!--
    Navbar for mobile and tablet
-->
<div class="ui mobile tablet only centered mobileNav grid">
    <ng-container *ngIf="userLoggedIn">
            <div class="four wide center aligned column">
                <a [routerLink]="[{ outlets : {'userRouterOutlet' :['home']}}]"
                 routerLinkActive="active">
                <h6 class="ui center aligned icon header">
                    <i class="home icon"></i>
                    Home
                </h6>
                </a>
            </div>
            <div class="four wide column" (click)="searchOn = true;">
                <h6 class="ui center aligned icon header">
                    <i class="search icon"></i>
                    Search
                </h6>
            </div>
            <div class="four wide column">
                <a [routerLink]="['/seller-side']" routerLinkActive="active" (click)="userLoggedIn = false">
                <h6 class="ui center aligned icon header">
                    <i class="exchange icon"></i>
                    Seller Mode
                </h6>
            </a>
            </div>
            <div class="four wide column">
                <a [routerLink]="['/user',{ outlets : {'userRouterOutlet' :['cart']}}]" routerLinkActive="active">
                <h6 class="ui center aligned icon header">
                    <i class="shopping cart icon"></i>
                    Cart
                </h6>
                </a>
            </div>
    </ng-container>

</div>

<!--
    Search Mask
-->
<app-search-mask *ngIf="searchOn" (hideSearchMask)="turnSearchOff($event)"></app-search-mask>
<div class="closeSearch" *ngIf="searchOn">
<h1 class="ui header" (click)="searchOn = false">
    X
</h1>
</div>
