@import 'https://fonts.googleapis.com/css?family=Molle:400i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap';
@import 'https://fonts.googleapis.com/css?family=Fondamento&display=swap';

.icon {
    cursor: pointer;
  }

.spacer {
flex: 1 1 auto;
}
.ui.horizontal.list .item{
  margin-left:0 !important;
}
.mat-toolbar{
  background: #2193b0;
}
.mat-toolbar label{
  color: #fff;
}
.address{
   margin-left: 5%;
   color : #fff;
   cursor: pointer;
  }
  .address:hover{
    text-decoration:underline;
  }
.mat-toolbar-row{
  padding-top: 3%;
  padding-bottom: 2%;
}
.mat-icon{
  color : black;
}
.logo_text
{
  font-family: 'Molle', cursive;
  color: #ac2d5c;
  font-weight: bolder;
  font-size: 3rem;
}
.mobileNav{
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  bottom: 0;
  margin-left: 0 !important;
}
.mobileNav .three.wide.column{
  padding-bottom: 2% !important;
}
.mobileNav .active h6{
  color:cornflowerblue !important;
}
.device.only .column h3{
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%,-100%);
}
.closeSearch{
  position : fixed;
   z-index: 9999999;
   right : 2%;
   top : 3%;
}
.closeSearch .header{
  font-family: 'Permanent Marker', cursive;
  color : #fff;
  cursor: pointer;
}
label{
  font-family: 'Fondamento', cursive;
  font-size:1.3rem;
  margin-right:1%;
}
.mat-toolbar-row .active .mat-icon{
  color: crimson !important;
}
@keyframes pulse {
  0%{transform:scale(.1);opacity: 0;}
  50%{ opacity: .4;}
  100%{transform: scale(1.6); opacity: 0;}
}
.pulse-loader {
  background-color: #2193b0;
  border-radius: 50%;
  position: absolute;
  margin: auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.pulse-loader:nth-child(1){
  animation: pulse 2s infinite;
}
.pulse-loader:nth-child(2){
  animation: pulse 2s infinite .3s;
}
.pulse-loader:nth-child(3){
  animation: pulse 2s infinite .6s;
}

.pulse-loader:nth-child(4){
  text-align: center;
  width: 20px;
  height: 20px;
}
.loader-container
{
  padding:13.5%;
}
.mobileActiveOrderNavbar{
  background: #fff;
  position: fixed;
  bottom:13%;
  z-index:999;
  min-width:92% !important;
}
.getAddress{
  color : #fff;
  font-family: 'Fondamento', cursive;
  margin-left:2%;
  margin-bottom:2%;
}
.mobileActiveOrderNavbar{
  z-index: 99999;
}
.noLocation{
  background-color: rgba(240, 38, 38, 0.863);
}
.noLocationMobile{
  top:0;
  position : fixed !important;
  background-color: rgba(240, 38, 38, 0.863);
}
.noLocation h3,.noLocationMobile h3{
  color : #fff;
}
.cartLength{
  position: absolute;
    top: 7%;
}
@media (max-width : 780px){
  .closeSearch{
    top : 2% !important;
    right:  3%;
  }
}
@media (max-width : 360px){
  .mobileActiveOrderNavbar{
    bottom : 15% !important;
  }
}
@media only screen and (min-width: 900px){
  .noLocation{
    z-index: 999999;
    top: -1px;
  }
}
