@import 'https://fonts.googleapis.com/css?family=Molle:400i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap';
@import 'https://fonts.googleapis.com/css?family=Fondamento&display=swap';

.icon {
    cursor: pointer;
  }

.spacer {
flex: 1 1 auto;
}
.ui.horizontal.list .item{
  margin-left:0 !important;
}
.address{
   margin-left: 5%;
   color : black;
   cursor: pointer;
  }
  .address:hover{
    text-decoration:underline;
  }
.mat-toolbar-row{
  padding-top: 3%;
  padding-bottom: 2%;
}
.mat-icon{
  color : black;
}
.logo_text
{
  font-family: 'Molle', cursive;
  color: #ac2d5c;
  font-weight: bolder;
  font-size: 3rem;
}
.mobileNav{
  position: fixed;
    z-index: 999;
    background: #fff;
    width: 105%;
    bottom: 0%;
}
a{ 
  color : purple;
}
.device.only .column h3{
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%,-100%);
}
.closeSearch{
  position : fixed;
   z-index: 99999;
   right : 2%;
}
.closeSearch .header{
  font-family: 'Permanent Marker', cursive;
  color : #fff;
  cursor: pointer;
}
label{
  font-family: 'Fondamento', cursive;
  font-size:1.3rem;
  margin-right:1%;
}
@media (max-width : 780px){
  .closeSearch{
    top : 2% !important;
    right:  3%;
  }
}