@import "https://fonts.googleapis.com/css?family=Righteous&display=swap";
agm-map {
    height: 100vh;
}
.mask
{
    background: rgba(0,0,0,0.6);
}
.mapColumn
{
    padding : 0 !important;
}
.container{
    width : 100% !important;
}
.six.wide.column
{
    padding:2% 0% 2% 4% !important;
        
}
.ten.wide.column{
    padding:2% !important;
}