@import "https://fonts.googleapis.com/css?family=Righteous&display=swap";
agm-map {
    height: 100vh;
}
.mask
{
    background: rgba(0,0,0,0.6);
}
.mapColumn
{
    padding : 0 !important;
}
.container{
    width : 100% !important;
}
.six.wide.column
{
    padding:2% 0% 2% 4% !important;

}
.ten.wide.column{
    padding:2% !important;
}
.currentAddress{
    min-height: 100px;
}
.recenter{
  top: 92%;
  position: absolute;
  left: 85%;
}
@media only screen and (max-width: 500px){
  .recenter{
    left: 62%;
    top: 91%;
  }
}
@media only screen and (max-width: 500px){
  .recenter{
    left: 62%;
    top: 91%;
  }
}
