<div class="ui container">
  <div class="ui stackable grid">
    <div class="six wide stretched column">
      <div class="ui centered raised segment" [ngClass]="{
       'loading' : loading 
      }">
        <h3 class="ui header">
          Add Your Address
        </h3>
        <div class="ui divider"></div>
        <div class="ui fluid icon input">
          <input type="text" [formControl] = "searchControl" #search autocomplete="off" autocapitalize="off" spellcheck="false">
          <i class="search icon"></i>
        </div>
        <div class="ui horizontal divider">
          OR
        </div>
        <button class="ui fluid primary button" (click)="getLocationCurrent()">
         <i class="location arrow icon"></i> Get Current Location
        </button>
        <div class="ui top attached header">
          <h3 class="ui header">
            Current Address
          </h3>
        </div>
      <div class="ui attached compact segment">
        <h4 class="ui header">
          {{address}}
        </h4>
      </div>
      <div class="ui hidden divider"></div>
      <form [formGroup]="newAddressForm" *ngIf="!isOnCheckoutMode">
        <div class="ui form">
          <div class="field">
            <label>Street Address</label>
            <input type="text" formControlName="street_address">
          </div>
          <div class="field">
            <label>Apartment Name</label>
            <input type="text"  formControlName="apartment_address">
          </div>
          <div class="two fields">
            <div class="field">
              <label>ZipCode(Auto Fill)</label>
          <input type="text" value="{{zipCode}}" formControlName="zip">
          </div>
          <div class="field">
            <label>Name For The Address</label>
          <input type="text" formControlName="name">
        </div>
        </div>
        <div class="two fields">
          <div class="field">
        <input type="hidden" value="{{latitude}}" formControlName="latitude">
        </div>
        <div class="field">
        <input type="hidden" value="{{longitude}}" formControlName="longitude">
      </div>
      </div>
      </div>
        </form>
      <button class="ui positive fluid button" (click)="onAddressBtnClick()"
       [disabled]="newAddressForm.pristine || newAddressForm.invalid">
        {{locationBtnTitle}}
      </button>
      <ng-container *ngIf="savedAddressesObs$">
      <h3 class="ui center aligned header">Previously Saved Addresses</h3>
      <div class="ui divider"></div>
      <div class="ui divided list">
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">{{savedAddresses[0].name}}</a>
            <div class="description">{{savedAddresses[0].apartment_address}}, {{
              savedAddresses[0].street_address}}</div>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
    </div>
    <div class="ten wide column">
      <div class="ui centered raised stretched segment">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="true">
        <agm-marker
        [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"
          [iconUrl]="locationIcon"
          [label]="labelProps"
          [animation]="'DROP'"></agm-marker>
      </agm-map>
    </div>
  </div>
  </div>
  </div>