<div class="ui grid container" id="mainGrid">
<div class="ui sixteen center aligned wide column jtron">
<div class="content-for-jt">
<a href="/user">
<h1 class="logo">
Metdine
</h1>
</a>
<div class="ui head header"> A New Way Of Eating Online.</div>
</div>
<div class="jtron-mask"></div>
</div>
</div>
<div class="ui sixteen wide column stackable abtus grid">
<div class="ui six wide column abs">
<h1>About Us</h1>
</div>
<div class="ui ten wide column">
<p class="par">Metdine is an online marketplace for peer to peer food ordering and consumption.  
Our platform enables users to create special or normal recipes, create menus, prepare food, and deliver food. 
 Upon registration on our platform, a user can start buying food from other users. 
 The user can become a seller too, and sell food to other users.</p>
<p class="par">Metdine promotes consumption of healthy food in metro areas. 
In light of the Covid-19 pandemic, our platform enables consumer-to-consumer transactions on food, 
thereby reducing the need to go to restaurants and fast-food chains. 
All our transactions can take place without an in-person dialogue, 
thus supporting the need for social distancing during the current environment.</p>
</div>
</div>
<div class="ui sixteen wide column stackable ourteam grid">
<div class="ui six wide column abs">
<h1 class="ot">Our Team</h1>
</div>
<div class="ten wide column">
<div class="ui sixteen wide column tile tile-1 grid">
<h3 class="ui header">
Chandrashekar Katipelli
<h4 class="ui header">Co-Founder & CEO</h4>
</h3>
<p class="par">
Chandrashekar Katipelli is the Co-founder 
and the CEO of Metdine. Besides his role at Metdine, 
Chandrashekar is also the Managing Director of <a href="https://indianfolk.com">IndianFolk.com</a>, 
a platform for opinion, analysis and commentary. 
Chandrashekar has also written a book, 'Gandhi & Lincoln', 
on the occasion of Mahatma Gandhi's 150th birth anniversary.
Prior to moving to India, Chandrashekar worked for the International 
Monetary Fund (IMF) and VeriSign in the United States. Chandrashekar 
has a bachelors degree from Osmania University College of Engineering 
and an MBA in Finance from the University of Tennessee, Knoxville, United States.
</p>
</div>
<div class="ui stackable grid">
<div class="eight wide tile tile-2 column">
<h3 class="ui header">
Rekha Marri
<h4 class="ui header">Co-Founder</h4>
</h3>
<p class="par">
Rekha Marri is a Co-founder of Metdine. Prior to Metdine, Rekha worked as a Software Engineer and
 Quality Assurance Director for Fourth Wall Media in the United States for many years before moving 
 to India. Rekha has a bacherlors degree in computer science engineering from Gulbarga
 University and a masters degree in the same field from Texas A&M Kingsville in the United States.
</p>
</div>
<div class="eight wide tile tile-3 column">
<h3 class="ui header">
Shashi Amula
<h4 class="ui header">Technical Advisor</h4>
</h3>
<p class="par">
Shashi Amula is a Technical Advisor for Metdine. 
Shashi is also the founder of <a href="https://tourhawks.com">tourhawks.com</a>, an online platform for tour planning & 
scheduling. Before moving to India, Shashi worked for General Electric,
Computer Sciences Corporation and AT&T in the United States. Shashi has a
bachelors degree from Osmania University College of Engineering and a 
masters degree in computer science engineering from George Mason University in the United States.</p>
</div>
</div>
<div class="ui stackable grid">
<div class="six wide tile tile-4 column">
<h3 class="ui header">
Shoney Sebastian
<h4 class="ui header">Project Advisor</h4>
</h3>
<p class="par">
Shoney Sebastian is a Project Advisor for Metdine on behalf of 
Consultant Cell of Department of Computer Science at CHRIST (Deemed to be University), 
Bengaluru. Currently, Shoney is an Associate Professor at CHRIST 
from where he obtained his PhD in Computer Science & Applications.</p>
</div>
<div class="five wide tile tile-5 column">
<h3 class="ui header">
Rahul Keluskar
<h4 class="ui header">Developer</h4>
</h3>
<p class="par">
Rahul Keluskar worked as a developer for Metdine prototype on behalf of Consultant Cell of 
Department of Computer Science at CHRIST (Deemed to be University), Bengaluru.</p></div>
<div class="five wide tile tile-6 column">
<h3 class="ui header">
Dhananjay Singh Kanwar
<h4 class="ui header">Developer</h4>
</h3>
<p class="par">
Dhananjay Singh Kanwar worked as a developer for Metdine prototype on behalf of Consultant Cell of 
Department of Computer Science at CHRIST (Deemed to be University), Bengaluru.</p></div>
</div>
</div>
</div>
<app-footer></app-footer>