<app-header-mask></app-header-mask>
<div class="ui sixteen wide column stackable abtus grid" id="aboutus">
<div class="ui six wide column abs">
<div class="abt-watermark">
<h1 class="watermark-text">About Us</h1>
</div>
<h1>About Us</h1>
<div class="undline"></div>
</div>
<div class="ui ten wide column">
<p class="par">Metdine is an online marketplace for peer to peer food ordering and consumption.
Our platform enables users to create special or normal recipes, create menus, prepare food, and deliver food.
 Upon registration on our platform, a user can start buying food from other users.
 The user can become a seller too, and sell food to other users.</p>
<p class="par">Metdine promotes consumption of healthy food in metro areas.
In light of the Covid-19 pandemic, our platform enables consumer-to-consumer transactions on food,
thereby reducing the need to go to restaurants and fast-food chains.
All our transactions can take place without an in-person dialogue,
thus supporting the need for social distancing during the current environment.</p>
</div>
</div>
<app-footer [isSellerSide]="true"></app-footer>
