<div class="ui basic modal" *ngIf="showPrivacyPolicyModal || showTermsOfUseModal">
<button class="ui circular icon negative right floated closing button" (click)="hideModal()">
  <i class="ui close icon"></i>
</button>
<div class="scrolling content">
  <app-privacy-policy noShow="true" *ngIf="showPrivacyPolicyModal"></app-privacy-policy>
  <app-terms-of-use noShow="true" *ngIf="showTermsOfUseModal"></app-terms-of-use>
</div>
</div>
<app-header></app-header>
<div class="ui two column centered grid container">
    <div class="sixteen wide mobile ten wide computer column">
        <h3 class="ui top attached header center aligned inverted">Become A Seller</h3>
        <div class="ui raised attached segment">
          <img class="ui rounded centered small image" src="assets/molly.jpg">
          <div class="ui divider"></div>
              <div class="ui fluid form">
                  <form [formGroup]="becomeSellerForm" (ngSubmit)="onSubmit(becomeSellerForm.value)" (ngForm)="becomeSellerForm" enctype="multipart/form-data" autocomplete="on">
                    <h4 class="ui centered sub header required-note">
                      Note : All Fields Are Required.
                    </h4>
                    <div class="field">
                      <label for="first name">First Name</label>
                      <input placeholder="Enter Your First Name"  formControlName="first_name" type="text">
                      <div class="ui pointing red basic label"  *ngIf="first_name.invalid && !first_name.pristine">
                            First Name Is Required
                     </div>
                    </div>
                    <div class="field">
                      <label for="last name">Last Name</label>
                      <input placeholder="Enter The Last Name" formControlName="last_name" type="text">
                      <div class="ui pointing red basic label"  *ngIf="last_name.invalid && !last_name.pristine">
                            Last Name Is Required
                     </div>
                    </div>
                    <div class="field">
                      <label>Upload Logo</label>
                      <app-file-upload ></app-file-upload>
                      </div>
                    <!-- <div class="field">
                      <input placeholder="Phone Number" formControlName="phone" type="text">
                      <div class="ui pointing red basic label"  *ngIf="phone.invalid && !phone.pristine">
                        <span *ngIf="phone.errors?.required">Phone Number Is Required</span>
                        <span *ngIf="phone.errors?.minlength || phone.errors?.maxlength ||phone.errors?.pattern">Enter A Valid Phone Number</span>
                    </div>
                    </div> -->
                    <div class="field">
                      <label for="description">Seller  Description</label>
                      <textarea placeholder="Give Your Description In A Few Words." formControlName="description"></textarea>
                      <div class="ui pointing red basic label"  *ngIf="description.invalid && !description.pristine">
                        <span *ngIf="description.errors?.required">Description Is Required</span>
                        <span *ngIf="description.errors?.maxlength">Description Should Be Less Than 150 Characters.</span>
                    </div>
                    </div>
                    <div class="field">
                      <label for="address">Seller Address</label>
                      <div class="ui fluid icon input">
                        <div class="ui active inline loader addressWait" *ngIf="address.dirty && formatted_address == undefined "></div>
                        <input type="text" placeholder="Enter Your Address" formControlName = "address" #search autocomplete="off" autocapitalize="off" spellcheck="false">
                        <i class="search icon"></i>
                      </div>
                    <div class="ui pointing red basic label"  *ngIf="address.errors?.required && !address.pristine">
                            Address Is Required
                     </div>
                    </div>
                    <div class="ui divider"></div>
                      <div class="field">
                        <div class="ui grid agreement">
                        <div class="one wide column">
                          <mat-checkbox tabindex="0" (change)="switchCheckBox()">
                           </mat-checkbox>
                        </div>
                        <div class="fourteen wide column">
                          <label class="termsAgree">
                          I Agree To The <a (click)="showTermsOfUseModal = true;">Terms Of Use</a> And The <a (click)="showPrivacyPolicyModal=true">Privacy Policy</a>.
                          </label>
                          </div>
                        </div>
                        </div>
                        <div class="field">
                          <h5 class="ui header" style="color: red;" *ngIf="showImageError">
                            Logo Is Required. Please Upload An Appropriate Logo.
                            </h5>
                          <div class="two ui buttons">
                            <input class="ui  positive button" [disabled]="becomeSellerForm.pristine || becomeSellerForm.invalid || formatted_address== undefined || checkedPolicyBox === false" type="Submit" value="Sign Up">
                            <button class="ui negative button" [disabled]="becomeSellerForm.pristine" (click)="becomeSellerForm.reset();">Reset</button>
                          </div>
                        </div>
                </form>
                </div>
          </div>
          <h5 class="ui bottom attached center aligned inverted header">
            Go Back To <a [routerLink]="['/user',{outlets : {'userRouterOutlet' : ['home']}}]" routerLinkActive="active" >Home.</a>
          </h5>
        </div>
  </div>
  <app-footer [isSellerSide]="true"></app-footer>
