<div class="ui mini modal billShow" *ngIf="showBillBreakdown">
  <div class="ui compact center aligned segment amountModal">
    <button class="ui negative icon button closeMap" (click)="showBillBreakdown = false">
      <i class="close icon"></i>
    </button>
  <div class="ui icon header">
    <i class="rupee sign icon"></i>
    Detailed Amount BreakDown
  </div>
  <div class="ui divider"></div>
  <div class="content" [ngClass]="{'scrollable' : screenSize < 500}">
    <ng-container *ngFor="let item of activeOrderData.items; let i = index;">
      <div class="ui grid">
    <div class="ten wide left aligned column">
      <h4 class="ui sub header">{{item.meal_title}}</h4>
    </div>
    <div class="six wide right aligned column">
      <h4 class="ui sub header"> {{item.meal_price * item.quantity | currency : 'INR'}}</h4>
    </div>
  </div>
  </ng-container>
  <div class="ui divider"></div>
  <div class="ui grid">
  <div class="ten wide left aligned  column">
    <h4 class="ui sub header">Delivery Charge</h4>
  </div>
  <div class="six wide right aligned  column">
    <h4 class="ui sub header">{{activeOrderData.delivery_charge | currency : 'INR'}}</h4>
  </div>
</div>
  <div class="ui divider"></div>
  <div class="ui grid">
  <div class="ten wide left aligned column">
    <h3 class="ui header">Total</h3>
  </div>
  <div class="six wide right aligned column">
    <h3 class="ui header">{{activeOrderData.total | currency : 'INR'}}</h3>
  </div>
</div>
  </div>
  </div>
</div>
<div class="ui centered grid column container" *ngIf="allActiveOrders && allActiveOrders.length > 1">
  <button class="ui blue button" (click)="listallorders = true">
    View All Active Orders
  </button>
</div>
<div class="ui mini modal orders" *ngIf="listallorders">
  <div class="ui compact center aligned segment orderlist">
    <div class="closeMap">
      <button class="ui negative icon button" (click)="listallorders = false">
        <i class="close icon"></i>
      </button>
    </div>
    <div class="ui icon header">
      <i class="list alternate outline icon"></i>
   <h4 class="ui header">
    Other Active Orders
   </h4>
  </div>
   <div class="ui divider"></div>
   <div class="scrolling content">
     <ng-container *ngIf="allActiveOrders">
       <div class="row" *ngFor="let order of allActiveOrders">
         <ng-container *ngIf="order.id != activeOrderId">
        <div class="ui stackable grid container">
      <div class="five wide column">
        <h4 class="ui header allOrdersStatus">#{{order.id}}</h4>
      </div>
      <div class="five wide column">
        <h4 class="ui header allOrdersStatus">
           <a class="ui  image label" [ngClass]="{
            'yellow' : order.status === 1,
            'orange' : order.status === 2,
            'purple' : order.status === 3,
            'pink' : order.status === 4,
            'brown' : order.status === 5,
            'red' : order.status === 6
        }">{{order.status | labelFilter : 'status'}}
        </a>
        </h4>
      </div>
      <div class="six wide column">
        <button class="ui inverted green button" (click)="toOtherActiveOrder(order.id)">View Order</button>
      </div>
    </div>
    <div class="ui divider"></div>
  </ng-container>
  </div>
</ng-container>
     <h5 class="ui header">
      <i class="ui exclamation triangle icon"></i>
        This List Contains Other Active Orders At The Moment. Click On The View Order Button For Full View Of Order.
     </h5>
   </div>
  </div>
</div>
<ng-container *ngIf="sentImages">
<div class="ui mini modal callTimer" *ngIf="sentImages.status == 'Partial'">
    <div class="ui compact center aligned segment partial-timer">
      <div class="ui icon header">
      <i class="circular phone icon"></i>
     <h4 class="ui header">
      Please Be Near Your Phone. The Seller Will Contact You Within Next 3 Minutes.
     </h4>
    </div>
     <div class="ui divider"></div>
     <div class="content">
       <div class="timer">
         <h1 class="ui header" *ngIf="timeLeft else loader">
          {{timeLeft}}
         </h1>
       </div>
       <div class="ui center sub header">
         Seconds Left
       </div>
       <div class="ui divider"></div>
       <h5 class="ui header">
        <i class="ui exclamation circle icon"></i>
        After Talking To The Seller, If You Would Like To Receive The Order, Please Click The Button Below.
       </h5>
       <div class="actions">
        <div class="ui green fluid  inverted button" (click)="reconfirmOrder();showReconfirmLoader = true;">
          <i class="check icon"></i>
         I Want To Receive The Order.
         <div class="ui inline active loader" *ngIf="showReconfirmLoader"></div>
        </div>
      </div>
     </div>
    </div>
</div>
</ng-container>
<div class="ui stackable grid mainContainer" *ngIf="activeOrderData else loading">
    <div class="ten wide column">
        <ng-container *ngIf="activeOrderData">
    <div class="ui raised segment" [ngClass]="{'loading': !activeOrderData}">
        <h1 class="ui header">
            Order Id : #{{activeOrderData.id}}
        </h1>
        <h3 class="ui header">
            Status :  <a class="ui label" [ngClass]="{
                'yellow' : activeOrderData.status === 1,
                'orange' : activeOrderData.status === 2,
                'purple' : activeOrderData.status === 3,
                'pink' : activeOrderData.status === 4,
                'brown' : activeOrderData.status === 5,
                'red' : activeOrderData.status === 6
            }">{{getStatus(activeOrderData.status)}}
            </a>
        </h3>
        <h3 class="ui header">
            Amount : <a class="ui black label">
                {{activeOrderData.total | currency : 'INR'}}
            </a>
        </h3>
        <h3 class="ui header">
            Address : {{activeOrderData.address}}
        </h3>
        <ng-container *ngIf="sentImages">
        <ng-container *ngIf="activeOrderData.status >= 2 && sentImages.status != 'Sent'">
                <div class="confirmedMask">
                <div class="lock notice">
                    <h4 class="ui center aligned icon header">
                        <i class="lock icon"></i>
                    <p class="lock-text" *ngIf="sentImages.status != 'Waiting' else waitingtext">You Have {{sentImages.status}} The Images</p>
                    <ng-template #waitingtext>
                        <h5 class="ui header pleaseSendImages">
                            Please Wait For The Seller To Send The Images.
                        </h5>
                    </ng-template>
                </h4>
                </div>
                </div>
                <div class="ui three column stackable grid row">
                    <div class="column">
                    <img src="{{sentImages.image1}}" class="ui rounded medium image">
                    </div>
                    <div class="column">
                        <img src="{{sentImages.image2}}" class="ui rounded medium image">
                    </div>
                <div class="column">
                    <img src="{{sentImages.image3}}" class="ui rounded medium image">
                </div>
                </div>
            </ng-container>
          </ng-container>
    </div>
</ng-container>
</div>
<div class="six wide column">
    <div class="ui segment" [ngClass]="{'loading': !activeOrderData}">
        <h2 class="ui center aligned header">
            Order Details
        </h2>
        <div class="ui divider"></div>
        <ng-container *ngIf="activeOrderData">
        <div class="row">
            <table class="ui unstackable single line table">
            <thead>
                <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of activeOrderData.items;let i = index;">
                <td>
                    <h4 class="ui image header">
                    {{item.meal_title}}
                    </h4>
                </td>
                <td>
                    {{item.quantity}}
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </ng-container>
        <div class="ui divider"></div>
        <div class="ui inverted positive fluid button" (click)="showBillBreakdown = true">
          View Amount Breakdown
        </div>
    </div>
</div>
</div>
<ng-container *ngIf="sentImages">
<ng-container *ngIf="sentImages.status == 'Sent'">
    <div class="ui basic modal sentImagesModal">
    <div class="ui two column computer column mobile centered grid container">
      <div class="row">
    <div class="ui compact center aligned segment clcartmodal">
    <div class="ui icon header">
        <i class="images icon"></i>
      <div class="ui hidden divider"></div>
     Please Confirm The Images Sent By Seller.
    </div>
    <div class="ui divider"></div>
    <div class="content">
      <div class="timer">
        <h1 class="ui header" *ngIf="timeLeft else loader">
         {{timeLeft}}
        </h1>
      </div>
      <div class="ui center sub header">
        Seconds Left
      </div>
      <ng-container *ngIf="sentImages !== undefined else waitingForImages">
        <ng-container *ngIf="sentImages.status == 'Sent' ||
        sentImages.status == 'Confirmed' ||
        sentImages.status == 'Rejected'
         else notSentImages">
        <h3 class="ui center aligned header">
            Confirm Seller Pictures
        </h3>
        <div class="ui negative message" *ngIf="!hideMessage && sentImages.status == 'Sent'">
            <i class="close icon" (click)="hideMessage = true"></i>
            <div class="header">
              Kindly Confirm Images.
            </div>
            <p>Please take a look at the seller pictures and confirm the status.
                In Case You Reject Seller Will Call You Within 3 minutes.
          </p>
        </div>
        <div class="ui center aligned divider"></div>
        <div class="ui three column stackable grid row">
            <div class="confirmedMask" *ngIf="waitingAction">
                <div class="ui centered grid column container">
                    <div class="ui active inline loader"></div>
                </div>
            </div>
            <div class="column">
            <img src="{{sentImages.image1}}" class="ui rounded medium image">
            </div>
            <div class="column">
                <img src="{{sentImages.image2}}" class="ui rounded medium image">
            </div>
        <div class="column">
            <img src="{{sentImages.image3}}" class="ui rounded medium image">
        </div>
        </div>
        <div class="ui center aligned divider"></div>
            <button class="ui  positive button" [ngClass]="{
                'left floated' : screenSize > 780,
                'fluid' : screenSize < 700
            }"
            [disabled]="sentImages.status != 'Sent'"
             (click)="acceptImages(sentImages.id)">
                Accept
            </button>
            <div class="ui hidden divider" *ngIf="screenSize < 700"></div>
            <button class="ui fluid negative button" [ngClass]="{
                'right floated' : screenSize > 780,
                'fluid' : screenSize < 700
            }"
            [disabled]="sentImages.status != 'Sent' || !refundRecentCount"
            (click)="rejectImages(sentImages.id)" [ngClass]="{'without-no-reject':refundRecentCount}">
                Reject
            </button>
            <div class="ui hidden divider" *ngIf="screenSize > 800"></div>
            <h4 class="ui centered header noreject" *ngIf="!refundRecentCount">
              Sorry. You have already received a refund in the last 30 days. You Cannot Reject The Order.
            </h4>
        </ng-container>
        </ng-container>
    </div>
    </div>
  </div>
    </div>
  </div>
</ng-container>
</ng-container>
<ng-template #waitingForImages>
<div class="ui centered grid column container">
    <div class="ui active inline loader"></div>
</div>
</ng-template>
<ng-template #notSentImages>
    <div class="ui centered column grid container">
        <h3 class="ui header noImages">
            Seller Has Not Sent The Images Yet.
        </h3>
    </div>
</ng-template>
<ng-template #loading>
  <div class="ui centered column active-loader">
    <div class="ui active inline loader"></div>
  </div>
</ng-template>
<ng-template #loader>
  <div class="ui active inline loader"></div>
</ng-template>
