.confirmedMask{
    background:hsla(0, 0%, 0%, 0.795);
    height:80%;
    position: absolute;
    width:100%;
    left:0;
    z-index: 999;
    transition: 0.4s all;
}
.billShow{
  display: flex !important;
  position: fixed;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  overflow:hidden;
  top:0;
  left:0;
  background-color: rgb(0,0,0,0.85) !important;
  color:#fff;
}
.billShow .content p{
  color:black;
  font-weight: bold;
}
.confirmedMask:hover{
    background:hsla(0, 0%, 0%, 0.695);
}
.segment{
    overflow : hidden;
}
.lock.icon{
    color : #fff !important;
    top:40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.lock-text{
    color:#fff !important;
    position : absolute;
    left: 50%;
    top : 50%;
    transform: translate(-50%,-50%);
}
.grid{
    padding : 5% !important;
}
.mainContainer{
    min-height:100vh;
}
.noImages{
    color: #fff;
    z-index:999999;
}
.sentImagesModal,.orders{
    height: 100%;
    width: 100%  !important;
    display : block !important;
    overflow-x: hidden;
    overflow-y:scroll;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.95) !important;
    color: #fff;
    position : fixed;
    z-index:999999;
}
.ui.modal .actions>.button{
    margin-left: 0 !important;
}
.content p{
    color:black;
    font-weight: bold;
}
.allOrdersStatus{
  padding:7% !important;
}
.partial-timer{
    width:90%;
    position: absolute;
    margin:5%;
    top:3%;
}
.orderlist{
  width:40%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.clcartmodal{
    top:50%;
    transform: translateY(-50%);
}
.active-loader{
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer{
    height:120px;
    width:120px;
    margin-left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    background:black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.timer .header{
    color: #fff !important;
}
.btnactions{
    margin-bottom:10%;
}
.ui.compact{
    display : block !important;
}
.pleaseSendImages{
    color: #fff;
}
.closeMap{
  position: absolute;
  left: 90%;
  top: 3%;
  z-index: 999999;
}
.no-reject,.without-no-reject{
    margin-bottom:35% !important;
}
@media (max-width:500px){
  .closeMap{
      left:88%;
      top:2%;
}
}
@media (max-width:360px){
  .closeMap{
      left:85%;
      top:2%;
  }
  .orderlist{
    margin-top: -10%;
  }
  }
@media(max-width:500px){
    .ui.basic.modal{
        margin-bottom:5%;
    }
    .orderlist{
      width:90%;
    }
  }
@media(min-width : 700px){
  .partial-timer{
    width:40%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
}
