<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ng-container *ngIf="getTrendingSellers$ else plForTendingSellers">
    <ul class="glide__slides">
      <li class="glide__slide" *ngFor = "let seller of trendingSeller"><img src="{{seller.logo}}"></li>
    </ul>
  </ng-container>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
    <ng-template #plForTendingSellers>
      <ul class="glide__slides">
        <li class="glide__slide" *ngFor="let pl of [0,1,2,3]">
          Loading
        </li>
      </ul>
    </ng-template>
</div>