<div class="ui two column centered grid">
<div class="sixteen wide mobile eight wide computer column" id ="matStepp">
  <div class="ui compact  raised segment">
    <h3 class="ui block center aligned inverted header">
        Add A New Item
      </h3>
      <div class="ui hidden divider"></div>
      <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
        <mat-vertical-stepper linear #addNewItem>
          <mat-step label="Details" [stepControl]="ItemDetailsFormGroup">
            <img class="ui circular centered small image" src="assets/itemplaceholder.jpg">
            <div class="row">
              <form [formGroup]="ItemDetailsFormGroup" autocomplete>
                <div class="ui form">
                  <div class="field" *ngIf="!ItemDetailsFormGroup.pristine && (ItemDetailsFormGroup.invalid || !imageUploaded)">
                    <div class="ui negative message">
                      <div class="header">
                        <h5 class="ui heading">
                        Please rectify The Following Errors before Proceeding Forward :
                      </h5>
                      </div>
                      <ul class="list">
                        <li *ngIf="title.errors?.required">
                          Item title Is Required.
                        </li>
                        <li *ngIf="!imageUploaded">
                          Please Upload An Image For The Item.
                        </li>
                        <li *ngIf="title.errors?.pattern">
                          Item title Can Only Contain Alphabetic Letters And Numbers.
                        </li>
                      </ul>
                  </div>
                  </div>
                      <div class="field">
                        <label>Item Title *</label>
                        <input placeholder="Name Of The Dish"  type="text" formControlName="title">
                        <span>

                        </span>
                      </div>
                      <div class="field">
                        <label>Item picture*</label>
                       <app-file-upload (imageUpload)="imageHasBeenUploaded($event)"></app-file-upload>
                      </div>
                      <div class="field">
                        <h5 class="ui left floated header">
                          Description*
                        </h5>
                        <textarea placeholder="A small Description Of the Item."  type="text" formControlName="short_description"></textarea>
                      </div>
                      <div class="field">
                        <button class="positive fluid ui button" [disabled]="ItemDetailsFormGroup.pristine || ItemDetailsFormGroup.invalid || !imageUploaded"
                         matStepperNext type="button" (click)="addToFormObject(ItemDetailsFormGroup.value,false,true)">Next</button>
                      </div>
                  </div>
                </form>
            </div>
          </mat-step>
          <mat-step label="Properties" [stepControl]="ItemPropertiesFormGroup">
            <img class="ui circular centered small image" src="assets/itemcategoryplaceholder.png">
            <div class="row">
              <form [formGroup]="ItemPropertiesFormGroup">
                <div class="ui form">
                  <div class="field">
                    <div class="field" *ngIf="ItemPropertiesFormGroup.invalid && !ItemPropertiesFormGroup.pristine ">
                      <div class="ui negative message">
                        <div class="header">
                          <h5 class="ui heading">
                          Please rectify The Following Errors before Proceeding Forward :
                        </h5>
                        </div>
                        <ul class="list">
                          <li *ngIf="category.invalid">
                            Please Select The Category Of The Item
                          </li>
                        </ul>
                    </div>
                    </div>
                  </div>
                    <div class="field">
                        <label>Select Category</label>
                        <mat-radio-group aria-label="Select an option" formControlName="category">
                            <mat-radio-button *ngFor="let category of categories;index as i;" value="{{i+1}}" name="item-category"><a class="ui red horizontal label">{{category.name}}</a></mat-radio-button>
                          </mat-radio-group>
                    </div>
                      <div class="field">
                        <label>Item Description</label>
                        <h5 class="ui header"><mat-slide-toggle formControlName="is_veg" (change)="getVegNonVegValue()">The Item Is Non Veg</mat-slide-toggle></h5>
                        <div class="ui compact negative message">
                            <h5 class="ui header">Note: In case the item is Veg, leave this Option</h5>
                          </div>
                      </div>
                      <div class="field">
                        <label>Item Availability</label>
                        <h5 class="ui header"><mat-slide-toggle formControlName="is_available" (change)="getAvailabilityValue()">The Item Is Unavavailable</mat-slide-toggle></h5>
                        <div class="ui compact negative message">
                            <h5 class="ui header">Note: In case the item is Available, leave this Option</h5>
                          </div>
                      </div>
                      <div class="field">
                        <div class="two ui buttons">
                            <button class="negative ui button" matStepperPrevious type="button">Back</button>
                        <button class="positive ui button" matStepperNext type="button" [disabled]="ItemPropertiesFormGroup.pristine || ItemPropertiesFormGroup.invalid"
                        (click)="addToFormObject(ItemPropertiesFormGroup.value)">Next</button>
                        </div>
                      </div>
                  </div>
                </form>
            </div>
          </mat-step>
          <mat-step label="Price & Time">
            <img class="ui circular centered small image" src="assets/priceandtime.jpg">
            <div class="row">
              <form [formGroup]="ItemPriceTimeFormGroup">
                <div class="ui form">
                  <div class="field" *ngIf="ItemPriceTimeFormGroup.invalid && !ItemPriceTimeFormGroup.pristine ">
                    <div class="ui negative message">
                      <div class="header">
                        <h5 class="ui heading">
                        Please rectify The Following Errors before Proceeding Forward :
                      </h5>
                      </div>
                      <ul class="list">
                        <li *ngIf="time_to_prepare.invalid">
                          Please Select The Time Required For Preparation Of The Item
                        </li>
                        <li *ngIf="price.errors?.required">
                          Please Enter The Price Of The Item
                        </li>
                        <li *ngIf="price.errors?.pattern">
                          Price Of Item Can Only Contain Numbers And Decimals.
                        </li>
                      </ul>
                  </div>
                  </div>
                      <div class="field">
                        <label>Item Price</label>
                        <input placeholder="Price"  formControlName="price" type="text">
                      </div>
                      <div class="field">
                        <label>Preparation Time</label>
                        <mat-radio-group aria-label="Select an option" formControlName="time_to_prepare">
                            <mat-radio-button *ngFor="let prepTime of prepTimeList;index as i" value="{{i+1}}" name="prep-time"><a class="ui teal horizontal label">{{prepTime.value}}</a></mat-radio-button>
                          </mat-radio-group>
                      </div>
                      <div class="field">
                        <div class="two ui buttons">
                            <button class="negative ui button" matStepperPrevious type="button">Back</button>
                        <button class="positive ui button" matStepperNext [disabled]="ItemPriceTimeFormGroup.invalid || ItemPriceTimeFormGroup.pristine"
                        (click)="[addToFormObject(ItemPriceTimeFormGroup.value),apiToAddNewSellerItem(),uploadingMeal = true]">Finish
                      </button>
                        </div>
                        <h5 class="ui header" *ngIf="uploadingMeal">
                          <div class="ui active inline loader"></div>
                          Uploading Your New Menu Item. Please Be Patient.
                        </h5>
                      </div>
                  </div>
                </form>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </ng-template>
</div>
</div>
</div>
<ng-template #bigScreen>
  <mat-horizontal-stepper linear #addNewItem>
    <mat-step label="Details" [stepControl]="ItemDetailsFormGroup">
      <img class="ui circular centered small image" src="assets/itemplaceholder.jpg">
            <div class="row">
              <form [formGroup]="ItemDetailsFormGroup" autocomplete>
                <div class="ui form">
                  <div class="field" *ngIf="(ItemDetailsFormGroup.invalid || !imageUploaded) && !ItemDetailsFormGroup.pristine ">
                    <div class="ui negative message">
                      <div class="header">
                        <h5 class="ui heading">
                        Please rectify The Following Errors before Proceeding Forward :
                      </h5>
                      </div>
                      <ul class="list">
                        <li *ngIf="title.errors?.required">
                          Item title Is Required.
                        </li>
                        <li *ngIf="title.errors?.pattern">
                          Item title Can Only Be Alphabetic Letters.
                        </li>
                        <li *ngIf="!imageUploaded">
                          Please Upload An Image For The Item.
                        </li>
                      </ul>
                  </div>
                  </div>
                      <div class="field">
                        <label>Item Title *</label>
                        <input placeholder="Name Of The Dish"  type="text" formControlName="title">
                        <span>

                        </span>
                      </div>
                      <div class="field">
                        <label>Item picture*</label>
                       <app-file-upload (imageUpload)="imageHasBeenUploaded($event)"></app-file-upload>
                      </div>
                      <div class="field">
                        <h5 class="ui left floated header">
                          Description*
                        </h5>
                        <textarea placeholder="A small Description Of the Item."  type="text" formControlName="short_description"></textarea>
                      </div>
                      <div class="field">
                        <button class="positive fluid ui button" [disabled]="ItemDetailsFormGroup.pristine || ItemDetailsFormGroup.invalid || !imageUploaded"
                         matStepperNext type="button" (click)="addToFormObject(ItemDetailsFormGroup.value)">Next</button>
                      </div>
                  </div>
                </form>
            </div>
    </mat-step>
    <mat-step label="Properties" [stepControl]="ItemPropertiesFormGroup">
      <img class="ui circular centered small image" src="assets/itemcategoryplaceholder.png">
      <div class="row">
        <form [formGroup]="ItemPropertiesFormGroup">
          <div class="ui form">
            <div class="field">
              <div class="field" *ngIf="ItemPropertiesFormGroup.invalid && !ItemPropertiesFormGroup.pristine ">
                <div class="ui negative message">
                  <div class="header">
                    <h5 class="ui heading">
                    Please rectify The Following Errors before Proceeding Forward :
                  </h5>
                  </div>
                  <ul class="list">
                    <li *ngIf="category.invalid">
                      Please Select The Category Of The Item
                    </li>
                  </ul>
              </div>
              </div>
            </div>
              <div class="field">
                  <label>Select Category</label>
                  <mat-radio-group aria-label="Select an option" formControlName="category">
                      <mat-radio-button *ngFor="let category of categories;index as i;" value="{{i+1}}" name="item-category"><a class="ui red horizontal label">{{category.name}}</a></mat-radio-button>
                    </mat-radio-group>
              </div>
                <div class="field">
                  <label>Item Description</label>
                  <h5 class="ui header"><mat-slide-toggle formControlName="is_veg" (change)="getVegNonVegValue()">The Item Is Non Veg</mat-slide-toggle></h5>
                  <div class="ui compact negative message">
                      <h5 class="ui header">Note: In case the item is Veg, leave this Option</h5>
                    </div>
                </div>
                <div class="field">
                  <label>Item Availability</label>
                  <h5 class="ui header"><mat-slide-toggle formControlName="is_available" (change)="getAvailabilityValue()">The Item Is Unavailable</mat-slide-toggle></h5>
                  <div class="ui compact negative message">
                      <h5 class="ui header">Note: In case the item is Available, leave this Option</h5>
                    </div>
                </div>
                <div class="field">
                  <div class="two ui buttons">
                      <button class="negative ui button" matStepperPrevious type="button">Back</button>
                  <button class="positive ui button" matStepperNext type="button" [disabled]="ItemPropertiesFormGroup.pristine || ItemPropertiesFormGroup.invalid"
                  (click)="addToFormObject(ItemPropertiesFormGroup.value,true)">Next</button>
                  </div>
                </div>
            </div>
          </form>
      </div>
    </mat-step>
    <mat-step label="Price & Time">
      <img class="ui circular centered small image" src="assets/priceandtime.jpg">
      <div class="row">
        <form [formGroup]="ItemPriceTimeFormGroup">
          <div class="ui form">
            <div class="field" *ngIf="ItemPriceTimeFormGroup.invalid && !ItemPriceTimeFormGroup.pristine ">
              <div class="ui negative message">
                <div class="header">
                  <h5 class="ui heading">
                  Please rectify The Following Errors before Proceeding Forward :
                </h5>
                </div>
                <ul class="list">
                  <li *ngIf="time_to_prepare.invalid">
                    Please Select The Time Required For Preparation Of The Item
                  </li>
                  <li *ngIf="price.errors?.required">
                    Please Enter The Price Of The Item
                  </li>
                  <li *ngIf="price.errors?.pattern">
                    Price Of Item Can Only Contain Numbers And Decimals.
                  </li>
                </ul>
            </div>
            </div>
                <div class="field">
                  <label>Item Price</label>
                  <input placeholder="Price"  formControlName="price" type="text">
                </div>
                <div class="field">
                  <label>Preparation Time</label>
                  <mat-radio-group aria-label="Select an option" formControlName="time_to_prepare">
                      <mat-radio-button *ngFor="let prepTime of prepTimeList;index as i" value="{{i+1}}" name="prep-time"><a class="ui teal horizontal label">{{prepTime.value}}</a></mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="field">
                  <div class="two ui buttons">
                      <button class="negative ui button" matStepperPrevious type="button">Back</button>
                  <button class="positive ui button" matStepperNext [disabled]="ItemPriceTimeFormGroup.invalid || ItemPriceTimeFormGroup.pristine || processingAddItemRequest"
                  (click)="[addToFormObject(ItemPriceTimeFormGroup.value),apiToAddNewSellerItem(), uploadingMeal = true]">Finish
              </button>
                  </div>
                  <h5 class="ui header" *ngIf="uploadingMeal">
                  <div class="ui active inline loader"></div>
                  Uploading Your New Menu Item. Please Be Patient.
                </h5>
                </div>
            </div>
          </form>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>
