.three.column.grid
{
    margin-top:5%;
}
mat-radio-group
{
    display: grid !important;
}
mat-radio-button
{
    margin-bottom:4%;
}
@media only screen and (max-width : 500px){
  #matStepp{
    margin-top: 10%;
  }
}
