<div class="ui three column centered grid">
<div class="column">
  <div class="ui compact  raised segment">
    <h3 class="ui block center aligned inverted header">
        Add A New Item
      </h3>
      <div class="ui hidden divider"></div>
  <mat-horizontal-stepper>
    <mat-step label="Details">
        <img class="ui circular centered small image" src="assets/itemplaceholder.jpg">
        <div class="row">
            <div class="ui form">
                  <div class="field">
                    <label>Item Title</label>
                    <input placeholder="Name Of The Dish"  type="text">
                  </div>
                  <div class="field">
                    <label>Item pictures</label>
                    <input placeholder="Images of The Item"  type="file">
                  </div>
                  <div class="field">
                    <label>Item Description</label>
                    <textarea placeholder="A small Description Of the Item."  type="text"></textarea>
                  </div>
                  <div class="field">
                    <button class="positive fluid ui button" matStepperNext>Next</button>
                  </div>
              </div>
        </div>
    </mat-step>
    <mat-step label="Properties">
        <img class="ui circular centered small image" src="assets/itemcategoryplaceholder.png">
        <div class="row">
            <div class="ui form">
                <div class="field">
                    <label>Select Categories</label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button *ngFor="let category of categories;index as i" value="{{i}}" name="item-category"><a class="ui red horizontal label">{{category.name}}</a></mat-radio-button>
                      </mat-radio-group>
                </div>
                  <div class="field">
                    <label>Item Description</label>
                    <h5 class="ui header"><mat-slide-toggle>The Item Is Non Veg</mat-slide-toggle></h5>
                    <div class="ui compact negative message">
                        <h5 class="ui header">Note: In case the item is veg, leave this Option</h5>
                      </div>
                  </div>
                  <div class="field">
                    <div class="two ui buttons">
                        <button class="negative ui button" matStepperPrevious>Back</button>
                    <button class="positive ui button" matStepperNext>Next</button>
                    </div>
                  </div>
              </div>
        </div>
    </mat-step>
    <mat-step label="Price & Time">
        <img class="ui circular centered small image" src="assets/priceandtime.jpg">
        <div class="row">
            <div class="ui form">
                  <div class="field">
                    <label>Item Price</label>
                    <input placeholder="Price"  type="text">
                  </div>
                  <div class="field">
                    <label>Preparation Time</label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button *ngFor="let prepTime of prepTimeList;index as i" value="{{i}}" name="prep-time"><a class="ui teal horizontal label">{{prepTime.value}}</a></mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div class="field">
                    <div class="two ui buttons">
                        <button class="negative ui button" matStepperPrevious>Back</button>
                    <button class="positive ui button" matStepperNext>Finish</button>
                    </div>
                  </div>
              </div>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
</div>
</div>