<div class="ui stackable grid container">
    <div class="six wide column">
        <div class="ui raised segment profile">
            <h2 class="ui center aligned icon header">
                <i class="circular user icon"></i>
                Profile
            </h2>
            <div class="ui divider"></div>
            <ng-container *ngIf="userProfileData">
            <div class="row">
            <h3 class="ui header">
                <i class="user circle icon"></i>  {{userProfileData.username}}
            </h3>
            </div>
            <div class="ui hidden divider"></div>
            <div class="row">
                <h3 class="ui header">
                <i class="address card icon"></i>{{userProfileData.email}}
                </h3>
            </div>
            <div class="ui hidden divider"></div>
            <div class="row">
                <h3 class="ui header">
                <i class="phone icon"></i>{{userProfileData.phone}}
                </h3>
            </div>
        </ng-container>
        <div class="ui divider"></div>
        <button class="ui negative fluid button" (click)="logUserOut()">
            Log Out
        </button>
        <div class="ui hidden divider"></div>
        <button class="ui blue fluid button" *ngIf="!numberVerified" (click)="verifyPhone()">
            Update A Phone Number
        </button>
        </div>
    </div>
    <div class="ui ten wide column">
            <app-previous-orders></app-previous-orders>
    </div>
</div>
