<app-header-mask></app-header-mask>
<div class="ui twelve wide column grid container">
<div class="ui attached segment">
<h1 class="ui centered header">
Terms Of Use
</h1>
<div class="ui divider"></div>
<p>
METDINE ONLINE SERVICES PRIVATE LIMITED [“METDINE” or “We”] is the sole and absolute owner of 
& maintains <a href="https://metdine.com">www.METDINE.com</a>, <a href="https://metdine.in">www.METDINE.in</a>
and other mobile applications (hereinafter “website”). 
This service is provided on an “As Is” basis & is continually under development.
METDINE requires that all users/visitors to these site(s) on Internet (the “Sites”) adhere to 
these Terms of Use.
</p>
<h4 class="ui uppercase header">
By accessing the Sites, you/user/visitor automatically confirm your acknowledgment & 
acceptance of these Terms of Use, which is the agreement between the parties.
</h4>
<div class="ui divider"></div>
<h2 class="ui header">
Copyright/Trademarks [Collectively “Intellectual Property Rights”]
</h2>
<p>
The trademarks, logos & service marks (“Marks”) displayed on the Sites are the property of 
METDINE and other parties. Users are prohibited from using any Marks for any purpose including, 
but not limited to use as metatags on other pages or sites on the World Wide Web without the 
written permission of METDINE or such third party which may own the Marks. All information, 
content, products and services including any software programs available on or through the 
Sites (collectively “Services”) are protected by copyright. Users are prohibited from 
modifying, copying, distributing, transmitting, displaying, publishing, selling, licensing, 
creating derivative works or using any Services available on or through the Sites for commercial 
or public purposes.
</p>
<p>
METDINE grants you a limited licence to access and make personal use of the Sites but not for 
commercial purposes. We permit the use of materials on this website subject to due credit is 
given to METDINE. The use shall also be subject to non-commercial use and limited to personal 
or academic dissemination (including on social media and use on all kinds of media). Copyright
should be acknowledged and such use should not infringe on the Intellectual Property Rights of
any entity or person. When using material on this website, proper attribution to authors and/or
copyright holders must be given. User is granted a limited, revocable and non-exclusive right 
to create hyperlinks to the home page or any other page of METDINE so long as any of these links
do not portray METDINE, or its products or services, in a false, misleading, derogatory or 
offensive manner. You may not use METDINE logos or proprietary graphics or trademarks as part 
of the link without express permission.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header"></h2>
<p>
ALL SERVICES ON THE SITES ARE PROVIDED TO YOU “AS IS” WITHOUT WARRANTY OF ANY KIND EITHER EXPRESS 
OR IMPLIED INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY & FITNESS FOR 
A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR ACCURACY. METDINE DOES NOT ENDORSE &
IS NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT MADE THROUGH
THE SITES BY ANY PARTY OTHER THAN METDINE. OTHER THAN AS REQUIRED UNDER APPLICABLE LAW.
</p>
<p>
UNDER NO CIRCUMSTANCE WILL METDINE BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER’S RELIANCE ON 
INFORMATION OBTAINED THROUGH THE SITES. IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, 
COMPLETENESS OR USEFULNESS OF ANY AND ALL SERVICES AVAILABLE ON/THROUGH THE SITES. PLEASE SEEK THE 
ADVICE OF OTHER USERS AND PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC 
SERVICE.
</p>
<div class="ui hidden divider">
Limitation of Liability
</div>
<p>
METDINE specifically disclaims any liability (whether based in contract, tort, strict liability or 
otherwise) for any direct, indirect, incidental, consequential, or special damages arising out of 
or in any way connected with access to or use of the Sites, (even if METDINE has been advised of 
the possibility of such damages) including liability associated with any viruses which may infect 
a user’s computer equipment.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">
Confidentiality of User Communications
</h2>
<p>Except as required by law, METDINE will maintain the confidentiality of all user communications, 
which contain personal user information and which are transmitted directly to METDINE. Postings by a
user on any message board or in any chat room will not be protected as confidential and METDINE may 
use and provide information contained in any such postings (including any ideas, concepts, know-how 
or other intellectual property) to METDINE for any purpose whatsoever and as deemed appropriate by 
METDINE.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Linked Internet Sites</h2>
<p>
METDINE prohibits caching, unauthorized hypertext links to the Sites & the framing of any Services 
available through the Sites. METDINE reserves the right to disable any unauthorized links or frames 
& specifically disclaims any responsibility for the Services available on any other Internet sites 
linked to the Sites. Access to any other Internet sites linked to the Sites is at the user’s own risk.
</p>
<div class="ui divider"></div>
<h2 class="ui header">Postings</h2>
<p>
Users are invited to submit comments, questions, ideas, reviews or any other information (“Postings”) 
concerning Sites’ Services. METDINE is under no obligation to review any such Postings posted on the 
Sites by users and assumes no responsibility or liability relating to any such Postings. 
Notwithstanding the above, METDINE may from time to time monitor the Postings on the Sites & 
may decline to accept and/or remove any Postings that contain illegal, obscene, abusive, 
harassing, vulgar, racial, and other objectionable material of any kind.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Changes to Terms of Use</h2>
<p>
We reserve the right to revise these Terms of Use at any time, and Users are deemed to be apprised 
of and bound by any changes to these Terms of Use. The latest updated Terms of Use would be posted 
on the Sites.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Violation of Terms of Use</h2>
<p>
METDINE reserves the right to seek all remedies available at law & in equity for violations of these 
Terms of Use, including the right to block access from a particular Internet address to the Sites.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Access to Password Protected/Secure Areas</h2>
<p>
Access to & use of password protected and/or secure areas of the Sites is restricted to 
authorized users only. Unauthorized individuals attempting to access these areas of the 
Sites may be subject to prosecution.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Transmission Charges</h2>
<p>
Use of the Services may involve transmission of data through your service provider’s 
network. Prices listed on the Sites do not include possible data transmission, text message, 
voice or other service provision charges by your network service provider.  We assume no 
responsibility for the payment of any charges of your service providers.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">Order and Payment Terms</h2>
<p>
“Order” shall mean the selection of payable Services offered by METDINE, and 
submission of payment method, as well as submitting the order by selecting the “buy”, “ok”, 
“I accept” or other similar confirmation of acceptance in the order flow or providing other 
indication of acceptance terms that are presented to you in the order flow.
</p>
<p>
You agree that all Orders shall be legally valid and binding. All Orders are subject 
to acceptance by METDINE.
</p>
<p>
You may pay by credit or debit card, network service provider billing, or other payment 
methods if available.
</p>
<p>
Your credit card, debit card or other payment options must have a billing address in the country 
where the Services, products and services are offered by METDINE.  METDINE will charge you 
accordingly within a reasonable time after you have made your Order. All payments are subject 
to validation checks and authorization by the concerned banking and financial services companies. 
You agree to pay the charges related to your Order, to ensure that the instrument of payment 
is valid at the time of the Order, that you are the rightful holder of the instrument and that 
the instrument is used within its credit limits.
</p>
<p>
The Services that are delivered to you are for your use and consumption only. You agree to use such 
Services solely as permitted in these Terms and in any additional terms that you may be presented 
in the order flow.
</p>
<p>
If your Order involves a trial period (also known as try-and-buy), you may be charged when the trial 
period expires, unless you cancel in accordance with the subscription/trial terms.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">
Arbitration
</h2>
<p>
Any dispute arising out of or in connection with this agreement, including any question regarding 
its existence, amendment, validity or termination, shall be referred to & finally resolved by 
arbitration in accordance with the Indian Arbitration & Conciliation Act, 1996. The arbitration 
shall be a “documents only”, evidence through affidavits “fast track” arbitration. The Tribunal 
shall consist of one (1) arbitrator to be appointed by METDINE. The exclusive seats of arbitration 
shall be Hyderabad, India & the language of the arbitration shall be English.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">
Governing Law
</h2>
<p>
The Terms are governed by the laws of India. The Courts at Hyderabad shall have exclusive jurisdiction 
over any dispute arising out of your use of the Services.
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">
Publication
</h2>
<p>
The website is deemed to be published from/at Hyderabad City, India (irrespective of where it is 
accessed from).
</p>
<div class="ui hidden divider"></div>
<h2 class="ui header">
Contact Details
</h2>
Email: info@METDINE.com
Any matter, dispute, resolution on the presents are subject to the exclusive jurisdiction of Courts in Hyderabad only.
<div class="ui hidden divider"></div>
<h2 class="ui header">
Communications
</h2>
<p>
All communications and notices of any kind may be sent to:
METDINE ONLINE SERVICES PRIVATE LIMITED
<strong>Vasavi Shantiniketan Flat 701, Whitefield Road, Kondapur, Hyderabad 500084</strong>
Email: <a href="mailto:info@metdine.com">info@metdine.com</a>
</p>
<div class="ui divider"></div>
<h2 class="ui header">
Communications
</h2>
<p>
The last update to these Terms of Use was made on <strong>5th June 2020.</strong>
</p>
</div>
</div>
<app-footer></app-footer>
