@import "https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro&display=swap";
.plcardForSellerProduct
{
    margin-bottom:  0 !important;
}
.card{
    box-shadow: none !important;
}
.card .image-container .image img{
    border-radius: 10px !important;
    min-height: 200px;
    z-index: -1;
}
.header{
    font-family: 'Righteous', cursive !important;
}
.sub.header{
    color:#ffffff;
}
.desc{
    text-align: justify !important;
}
.label{
    color:#ffffff;
    font-family: 'Righteous', cursive !important;
    margin-bottom:5% !important;
}
#unavailability-message{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff !important;
}
.blurOut{
    filter:blur(3px);
}
.image-mask{
    min-height:200px;
    width:100%;
    position: absolute;
    top:0;
    left:0;
}
@media (max-width:350px){
#unavailability-message{
    font-size:0.85rem !important;
}
}
@media(min-width:780px){
    .product-image{
        max-height: 200px;
        min-height: 200px;
    }
}
