<div class="ui four stackable link cards grid container">
  <ng-container *ngIf="productService.products else plForSellerProducts">
    <div  class="ui card" *ngFor="let product of productService.products; let i = index">
      <ng-container *ngIf="product.image else productimagePlaceholder">
      <div class="image">
        <img src="{{product.image}}">
        </div>
      </ng-container>  
        <div class="content">
        <a class="header">{{product.title}}</a>
          <div class="description">
            <p>
              {{product.short_description}}
            </p>
            <div class="ui horizontal label" [ngStyle] = "{'background-color': product.is_veg === true ? 'green' : 'red'}">
              {{vegNonvegFilter(product.is_veg)}}
            </div>
            <div class="ui  teal horizontal label">
              {{product.category}}
            </div>
            <div class="ui oreange horizontal label">
              {{product.time_to_prepare}}
            </div>
          </div>
        </div>
        <div class="extra content">
            <button class="positive ui button right floated"   (click)="[cart.updateCart(product.id),incdeccart.getId(),api.addNewOrder(product.id)]" *ngIf="incdeccart.onProdZero(product.id)">Add</button>
            <app-inc-dec-cart  [productId] = "product.id" class="right floated"></app-inc-dec-cart>
            <div class="ui orange ribbon label"><i class="rupee sign icon"></i> {{product.price}}</div>
        </div>
      </div>
    </ng-container>
</div>
<!--
  Placeholder For Seller Products
-->
<ng-template #plForSellerProducts>
    <div class="ui card" *ngFor="let pl of [0,1,2,3]">
        <div class="image">
          <div class="ui placeholder">
            <div class="square image"></div>
          </div>
        </div>
        <div class="content">
          <div class="ui placeholder">
            <div class="header">
              <div class="very short line"></div>
              <div class="medium line"></div>
            </div>
            <div class="paragraph">
              <div class="short line"></div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui disabled right floated positive button">Add</div>
        </div>
      </div>
</ng-template>
<!--
  Placeholder for product image because sometimes images take longer to load than content
-->
<ng-template #productimagePlaceholder>
<div class="ui placeholder">
    <div class="square image"></div>
  </div>
</ng-template>