<div class="ui three stackable cards grid container">
    <div  class="ui card" *ngFor="let product of products; let i = index" >
        <div class="image">
        <img src="../../../assets/products/{{product.photo}}">
        </div>
        <div class="content">
        <a class="header">{{product.name}}</a>
          <div class="description">
            <div class="ui red horizontal label" *ngFor="let tag of product.tags">{{tag}}</div>
          </div>
        </div>
        <div class="extra content">
            <button class="positive ui button right floated"   (click)="[cart.updateCart(product.id),incdeccart.getId()]" *ngIf="incdeccart.onProdZero(product.id)">Add</button>
            <app-inc-dec-cart  [productId] = "product.id" class="right floated"></app-inc-dec-cart>
            <div class="ui orange ribbon label"><i class="rupee sign icon"></i> {{product.price}}</div>
        </div>
      </div>