<footer>
    <div class="ui centered stackable grid container">
        <div class="five wide column">
            <div class="row">
            <a href="/user">
                <div class="logo_text">
                    Metdine
                </div>
                </a>
            </div>
            <div class="ui hidden divider"></div>
            <div class="row">
            <a href="https://facebook.com/metdine">
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                  </button>
                </a>
                <a href="https:// twitter.com/metdine">
                  <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                  </button>
                </a>
                <a href="https://linkedin.com/company/metdine">
                  <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                  </button>
                </a>
            </div>
        </div>
        <div class="ui three wide column">
            <div class="ui list">
                <div class="item">
                    <h3 class="ui header contact-us">
                        Support
                    </h3>
                </div>
                <div class="item">
                <a routerLink="/about-us">
                    <h4 class="ui header">
                        About Us
                    </h4>
                </a>
                </div>
                <div class="item">
                 <a routerLink="/our-team">
                    <h4 class="ui header">
                        Our Team
                    </h4>
                </a>
                </div>
                <div class="item">
                <a routerLink="/refunds-policy">
                    <h4 class="ui header">
                        Refunds & Cancellations
                    </h4>
                </a>
                </div>
                <div class="item">
                <a routerLink="/terms-of-use">
                    <h4 class="ui header">
                        Terms Of Use
                    </h4>
                </a>
                </div>
                <div class="item">
                <a routerLink="/privacy-policy">
                    <h4 class="ui header">
                        Privacy Policy
                    </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui three wide column">
            <div class="ui list">
                <div class="item">
                    <h3 class="ui header contact-us">
                        Resources
                    </h3>
                </div>
                <div class="item">
                    <h4 class="ui header">
                        Videos
                    </h4>
                </div>
                <div class="item">
                    <h4 class="ui header">
                        Articles
                    </h4>
                </div>
            </div>
        </div>
        <div class="five wide column" id="contact-section">
            <h1 class="ui header contact-us">
                Contact Us
            </h1>
            <h4 class="ui header">
                Vasavi Shantiniketan Flat 701, Whitefield Road, Kondapur, Hyderabad 500084
                </h4> 
            <h4 class="ui justified header">
                Should you have questions about our platform or otherwise, you may send us an email @ <a href="mailto:info@metdine.in">info@metdine.com</a>
                or call <span style="color : #ac2d5c;">+9191826-48329.</span>
            </h4>
            <div class="ui hidden divider"></div>
                <div class="ui sub header">
                    Made With <i class="heart icon icon-center"></i> in India.
                </div>
        </div>
    </div>
    <div class="ui center aligned header">
        &copy;  All Rights Reserved By Metdine.
    </div> 
</footer>
