<app-header-mask></app-header-mask>
<div class="ui twelve wide column grid container">
<div class="ui attached moveUp segment">
<h1 class="ui centered header">
Refunds and Cancellations
</h1>
<div class="ui divider"></div>
<p>
At Metdine, we try to ensure 100% satisfaction for our registered users.  We always
recommend our buyers review the menu in detail before they place an order, thus lowering
the chances of cancellation.  If a buyer isn’t satisfied with the delivered food, we will
refund the full amount paid for the food, provided the user submits a request for refund
(with or without reasons) within thirty (30) days of the date of payment. Our procedure
for the refund will be as follows:
</p>
<div class="ui divider"></div>
<h2 class="ui header">
Request for Refund
</h2>
<p>
For all refunds, please send an email to <a href="mailto:ops@metdine.com">ops@metdine.com</a> within thirty (30) days of the date
of payment. Requests for refunds received later than thirty (30) days after the date of payment
will not be processed.
</p>
<div class="ui divider"></div>
<h2 class="ui header">Refund Process</h2>
<p>
Refund will be issued to the same account (credit card, debit card, UPI, NetBanking or Wallet)
used by the buyer at the time of order placement.
</p>
</div>
</div>
<app-footer [isSellerSide]="true"><app-footer>
