<div class="uploadfilecontainer" (click)="fileInput.click()" appFileUpload (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event,'byInput')" class="fileUpload">
  </div>
  <div  class="ui files-list grid" *ngFor="let file of filesUpload.Files;let i= index">
    <div class="six wide column">
      <img src="{{file}}" class="ui tiny rounded image">
    </div>
    <div class="ten wide right aligned column">
      <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="../../../../assets/bin.png">
      </button>
    </div>
   </div>
   <div class="err-msg ui grid" *ngIf="imageTypeError">
     <div class="twelve wide column">
       <h5 class="ui centered header">
        <i class="exclamation circle icon"></i>
         Please Upload A Valid Image.
       </h5>
     </div>
     <div class="column">
         <h5 class="ui header">
          <i class="window close icon" (click)="imageTypeError = false"></i>
         </h5>
     </div>
   </div>
   <h4 class="ui centered sub header">
    <span style="color:black">NOTE:</span> The Only Allowed File Types Are Image Types Like JPEG and PNG.*
  </h4>
