<router-outlet></router-outlet>
<!-- <div class="ui warning message" *ngIf="offline" id="offlineMessage">
  <div class="ui header">
    <i class="exclamation circle icon"></i>
    Looks Like You Are Offline.
  </div>
</div> -->
<ngx-ui-loader
  [fgsColor]="loader.config.fgsColor"
  [fgsPosition]="loader.config.fgsPosition"
  [fgsSize]="loader.config.fgsSize"
  [fgsType]="loader.config.fgsType"
  [bgsColor]="loader.config.bgsColor"
  [bgsOpacity]="loader.config.bgsOpacity"
  [bgsPosition]="loader.config.bgsPosition"
  [bgsSize]="loader.config.bgsSize"
  [bgsType]="loader.config.bgsType"
  [gap]="loader.config.gap"
  [logoPosition]="loader.config.logoPosition"
  [logoSize]="loader.config.logoSize"
  [logoUrl]="loader.config.logoUrl"
  [overlayColor]="loader.config.overlayColor"
  [pbColor]="loader.config.pbColor"
  [pbDirection]="loader.config.pbDirection"
  [pbThickness]="loader.config.pbThickness"
  [hasProgressBar]="loader.config.hasProgressBar"
  [text]="loader.config.text"
  [textColor]="loader.config.textColor"
  [textPosition]="loader.config.textPosition"></ngx-ui-loader>
