#offlineMessage{
  position:fixed;
  top:80%;
  margin: auto;
}
.bttop{
    position:fixed;
    z-index: 3 !important;
    bottom:4%;
    right:2%;
    font-size:1.7rem !important;
    animation : fadeIn 0.2s ease-in;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        bottom: -1%;
    }
    to{
        opacity: 1;
        bottom:4%;
    }
}
