<h1 class="ui center aligned header title">
    {{title}}
</h1>
<div class="ui center aligned divider"></div>
<div class="ui centered five wide column grid">
  <ng-container *ngIf="menuItems">
<button class="ui negative button" *ngIf="menuItems.length!==0 && !isSubSection" (click)="changeRemoveMode()">{{RemoveModeText}}</button>
</ng-container>
</div>
    <div class="ui stackable mobile doubling tablet link cards grid container" id="itemsContainer" [ngClass]="{
      'three' : !skipItem,
      'center aligned' : skipItem
    }">
<ng-container *ngIf="menuItems;else plForSellerProducts">
    <div class="ui card" *ngFor="let product of menuItems;index as i;" [ngClass]="{'vibrate': removeItemsMode === true}">
      <ng-container *ngIf="(product.id != skipItem)">
      <ng-container *ngIf="product.image  else productimagePlaceholder">
        <div class="image-container">
      <div class="image" [ngClass]="{'blurOut': !product.is_available}"
      [ngStyle]="{'background': 'url(' + product.image + ')'}">
        </div>
        <div class="image-mask" *ngIf="!product.is_available">
          <button class="circular ui teal icon button" (click)="makeItemAvailable(product.id)"
          id="makeItemAvailable" data-inverted="" data-position="top right" data-tooltip="Make Item Available">
            <i class="check icon"></i>
          </button>
          <h4 class="ui header" id="unavailability-message">Item Is Unavailable.</h4>
        </div>
      </div>
      </ng-container>
        <div class="content">
        <a class="ui centered header">{{product.title}}</a>
          <div class="description">
            <div class="ui horizontal label" [ngStyle] = "{'background-color': product.is_veg === true ? 'green' : 'red'}">
              {{product.is_veg | vegNonVeg}}
            </div>
            <div class="ui  teal horizontal label">
              {{product.category | labelFilter : 'category'}}
            </div>
              <a class="ui orange label">
                <i class="clock icon"></i>{{product.time_to_prepare | labelFilter}}
              </a>
            <h5 class="ui header desc">
              {{product.short_description}}
            </h5>
          </div>
        </div>
        <div class="extra content">
            <button class="ui blue button" (click)="editItem(product.id)"
            [ngClass]="{'left floated': product.is_available && screenWidth > 500,'fluid':!product.is_available || screenWidth < 500}">
                Edit
            </button>
            <button class="ui olive button" [ngClass]="{'right floated' : screenWidth > 380, 'fluid' : screenWidth < 500}" (click)="makeItemUnavailable(product.id)" *ngIf="product.is_available">
              Make Item Unavailable
          </button>
            <ng-container *ngIf="removeItemsMode">
            <div class="ui hidden divider">
            </div>
            <div class="ui hidden divider">
            </div>
            <div class="ui centered five wide column grid">
            <button class="circular ui icon negative huge button" (click)="removeMenuItem(product.id)"
            data-tooltip="Remove This Item" data-inverted="" data-position="bottom center">
              <i class="close icon"></i>
            </button>
          </div>
            </ng-container>
        </div>
      </ng-container>
      </div>
    </ng-container>
    <div class="ui card newItem" (click)="addNewItemRouteActivate()">
      <h2 class="ui center aligned icon header newItemButton">
        <i class="plus circle icon"></i>
        Add new Item
      </h2>
    </div>
</div>
<!--
  Placeholder For Seller Products
-->
<ng-template #plForSellerProducts>
    <div class="ui card" *ngFor="let pl of [0,1,2,3]">
        <div class="image">
          <div class="ui placeholder">
            <div class="square image"></div>
          </div>
        </div>
        <div class="content">
          <div class="ui placeholder">
            <div class="header">
              <div class="very short line"></div>
              <div class="medium line"></div>
            </div>
            <div class="paragraph">
              <div class="short line"></div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui disabled right floated positive button">Add</div>
        </div>
      </div>
</ng-template>
<!--
  Placeholder for product image because sometimes images take longer to load than content
-->
<ng-template #productimagePlaceholder>
<div class="ui placeholder">
    <div class="square image"></div>
  </div>
</ng-template>
