<ng-container *ngIf="sellerDetails$ | async as seller" #sellerPage>
<div class="ui inverted segment">
    <div class="ui grid">
        <div class="six wide column">
          <img src="{{seller.logo}}" (load)="loaded = true">     
        </div>
        <div class="ten wide column">
        <h2 class="ui header">{{seller.first_name}} {{seller.last_name}}</h2>
            <h3 class="ui sub header">
                {{seller.address}}
              </h3>
              <h3 class="ui sub header">
              {{seller.desc}}
              </h3>
              <div class="ui two column very relaxed grid">
                <div class="column">
                        <i class="star icon"></i> 3.6
                </div>
                <div class="left floated column">
                    400+ Ratings
                </div>
              </div>
              <div class="field">
                    <div class="ui toggle checkbox">
                      <input type="checkbox" name="gift" tabindex="0" class="hidden">
                      <label>Veg Only</label>
                    </div>
                </div>
            <div class="ui inverted transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
            </div>
    </div>
</div>
</div>
<app-product></app-product>
</ng-container>
<ng-container *ngIf="!containerLoaded;else sellerPage">
  <div class="ph-item">
    <div class="ph-col-4">
      <div class="ph-picture for-seller-logo"></div>
    </div> 
    <div class="ph-col-8">
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
        </div>
        <!--Address placeholder-->
        <div class="ph-row">
          <div class="ph-col-2"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4"></div>
        </div>
        <!--Seller Address placeholder Ends-->
       <!--Seller description  placeholder-->
        <div class="ph-row">
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4"></div>
        </div>
        <!--Seller description  placeholder ends-->
        <!--Seller Additional Data-->
        <div class="seller-additional-data-ph">
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ph-col-6 empty"></div>
          <div class="ph-col-2 big"></div>
        </div>
      </div>
        <!--Seller Additional Data ends-->
    </div>
</div>
</ng-container>