.orderid
{
    padding: 8% 0% 8% 0% !important;
    border-radius:3px;
    background-color: black;
    text-align: center;
}
.label{
  margin-bottom : 3% !important;
}
.orderid h1{
    color:#fff;
}
