<div class="orderid centered row">
    <h1 class="ui header">#{{order.id}}</h1>
</div>
<div class="ui hidden divider"></div>
<a [routerLink]="['/user',{outlets : { userRouterOutlet : ['seller-page',order.seller_id]}}]">
<h2 class="ui centered header" *ngIf="buyerSide">
  <img class="ui rounded image" src="{{order.seller_logo}}">
  {{order.seller_name}}
</h2>
</a>
<div class="ui hidden divider"></div>
<div class="ui left aligned row">
    <a class="ui orange label" *ngIf="order.status == 4 || buyerSide">
      {{order.create_time | date}}
    </a>
    <a class="ui purple label" *ngIf="buyerSide && order.is_refund">
      Refunded
    </a>
    <a class="ui black label">
      Amount
      <div class="detail">
    {{order.total | currency : 'INR'}}
    </div>
    </a>
    <a class="ui purple label">
      Distance
      <div class="detail">
      {{order.distance | number : '1.0-2'}} Km
    </div>
      </a>
<a class="ui label" [ngClass]="{
    'green' : order.status === 1,
    'teal' : order.status === 2,
    'yellow' : order.status === 3,
    'blue' : order.status === 4,
    'red' : order.status === 6
    }">{{order.status | labelFilter : 'status'}}</a>
    <a class="ui teal label">
      {{order.time}}
    </a>
</div>
<div class="ui hidden divider" *ngIf="!buyerSide"></div>
<h4 class="ui header" *ngIf="!buyerSide">
  <i class="ui circular user icon">
  </i>
  {{order.customer_name}}
</h4>
<h4 class="ui header" *ngIf="!buyerSide && order.status !== 4">
  <i class="ui circular phone icon">
  </i>
  {{order.customer_phone}}
</h4>
<div class="ui divider"></div>
<div class="row">
    <table class="ui unstackable single line table">
    <thead>
        <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of order.items;let i = index;">
        <td>
            <h4 class="ui image header">
            {{item.meal_title}}
            </h4>
        </td>
        <td>
            {{item.quantity}}
        </td>
        </tr>
    </tbody>
    </table>
</div>
