<div class="ui basic modal" *ngIf="showPrivacyPolicyModal || showTermsOfUseModal">
  <button class="ui circular icon negative right floated closing button" (click)="hideModal()">
    <i class="ui close icon"></i>
  </button>
  <div class="scrolling content">
    <app-privacy-policy noShow="true" *ngIf="showPrivacyPolicyModal"></app-privacy-policy>
    <app-terms-of-use noShow="true" *ngIf="showTermsOfUseModal"></app-terms-of-use>
  </div>
</div>
<div class="ui four column centered grid">
        <div class="fifteen wide mobile four wide computer column">
            <h3 class="ui top attached header center aligned inverted">Sign Up To Metdine</h3>
            <div class="ui raised attached segment">
              <img class="ui rounded centered small image" src="../../../assets/molly.jpg">
              <div class="ui divider"></div>
                  <div class="ui fluid form">
                      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
                        <h4 class="ui centered sub header required-note">
                          Note : All Fields Are Required.
                        </h4>
                        <div class="field">
                          <label for="First Name">First Name</label>
                          <input placeholder="Enter your first name" formControlName="fname" type="text">
                          <div class="ui pointing red basic label"  *ngIf="fname.invalid && !fname.pristine">
                                First Name Is Required
                         </div>
                        </div>
                        <div class="field">
                          <label for="Last Name">Last Name</label>
                          <input placeholder="Enter your last name" formControlName="lname" type="text">
                          <div class="ui pointing red basic label"  *ngIf="lname.invalid && !lname.pristine">
                                Last Name Is Required
                         </div>
                        </div>
                        <div class="field">
                          <label for="username">Username</label>
                          <input placeholder="Enter A Username" formControlName="username" type="text">
                          <div class="load-container" *ngIf="searchingUsername">
                            <div class="ui active inline loader" *ngIf="loadingUsername"></div>
                            <h3 class="ui header" *ngIf="!loadingUsername && showUsernameAvailable">
                              <i class="check square icon"></i>
                            </h3>
                            <h3 class="ui header" *ngIf="!loadingUsername && !showUsernameAvailable">
                              <i class="window close icon"></i>
                            </h3>
                          </div>
                          <ng-container *ngIf="searchingUsername">
                          <ng-container *ngIf="!loadingUsername && !showUsernameAvailable">
                              <h5 class="ui header error">
                                Sorry! <span class="default">{{username.value}}</span> is already taken. Please try something else.
                              </h5>
                           </ng-container>
                           <ng-container *ngIf="!loadingUsername && showUsernameAvailable">
                            <h5 class="ui header success">
                              Yay! The username <span class="default">{{username.value}}</span> is available. Register it quickly.
                            </h5>
                          </ng-container>
                        </ng-container>
                          <div class="ui pointing red basic label"  *ngIf="username.invalid && !username.pristine">
                                <span *ngIf="username.errors?.required">Username Is required</span>
                           </div>
                        </div>
                        <div class="field">
                          <label for="email">Email</label>
                          <input placeholder="Enter your email" formControlName="email" type="text">
                          <div class="load-container" *ngIf="searchingEmail && !email.invalid">
                            <div class="ui active inline loader" *ngIf="loadingEmail"></div>
                            <h3 class="ui header" *ngIf="!loadingEmail && showEmailAvailable">
                              <i class="check square icon"></i>
                            </h3>
                            <h3 class="ui header" *ngIf="!loadingEmail && !showEmailAvailable">
                              <i class="window close icon"></i>
                            </h3>
                          </div>
                          <ng-container *ngIf="searchingEmail && !email.invalid">
                            <ng-container *ngIf="!loadingEmail && !showEmailAvailable">
                                <h5 class="ui header error">
                                  Sorry! <span class="default">{{email.value}}</span> is already taken. Please try something else.
                                </h5>
                             </ng-container>
                             <ng-container *ngIf="!loadingEmail && showEmailAvailable">
                              <h5 class="ui header success">
                                Yay! The email <span class="default">{{email.value}}</span> is available. Register it quickly.
                              </h5>
                            </ng-container>
                          </ng-container>
                          <div class="ui pointing red basic label"  *ngIf="email.invalid && !email.pristine">
                            Enter A Valid Email
                        </div>
                      </div>
                        <div class="field">
                          <label for="password">Password</label>
                                <input placeholder="Enter your Password" formControlName="password1" type="password">
                        <div class="ui pointing red basic label"  *ngIf="password1.errors?.required && !password1.pristine">
                                Password Is Required
                         </div>
                         <h5 class="ui header">
                           Password should Contain The Following:
                           <span [ngClass]="{'default' : password1.pristine,
                            'error' : !passHasLen && password1.dirty,
                            'success' : passHasLen}">
                             <p>
                              <i class="icon" [ngClass]="{'long arrow alternate right' : password1.pristine,
                            'close' : !passHasLen,
                            'check circle' : passHasLen}"></i>
                              8 characters long</p>
                           </span>
                           <span [ngClass]="{'default' : password1.pristine,
                           'error' : !passHasCapLetter && password1.dirty,
                           'success' : passHasCapLetter}">
                            <p>
                              <i class="icon" [ngClass]="{'long arrow alternate right' : password1.pristine,
                              'close' : !passHasCapLetter,
                              'check circle' : passHasCapLetter}"></i>
                              one uppercase letter</p>
                          </span>
                          <span [ngClass]="{'default' : password1.pristine,
                          'error' : !passHasNumber && password1.dirty,
                          'success' : passHasNumber}">
                            <p>
                              <i class="icon" [ngClass]="{'long arrow alternate right' : password1.pristine,
                              'close' : !passHasNumber,
                              'check circle' : passHasNumber}"></i>
                              one number</p>
                          </span>
                          <span [ngClass]="{'default' : password1.pristine,
                          'error' : !passHasSpecialChar && password1.dirty,
                          'success' : passHasSpecialChar}">
                            <p>
                              <i class="icon" [ngClass]="{'long arrow alternate right' : password1.pristine,
                              'close' : !passHasSpecialChar,
                              'check circle' : passHasSpecialChar}"></i>
                              one special character</p>
                          </span>
                         </h5>
                        </div>
                        <div class="field">
                          <label for="Confirm Password">Confirm Password</label>
                        <input placeholder="Retype The Password" formControlName="password2" type="password">
                        <div class="field" *ngIf="showUnmatchMessage">
                          <h5 class="ui header dontmatch">
                            Password And Confirm Password Should Match.
                          </h5>
                        </div>
                        <div class="ui divider"></div>
                        <div class="field">
                        <div class="ui grid agreement">
                        <div class="one wide column">
                          <mat-checkbox tabindex="0" (change)="switchCheckBox()">
                           </mat-checkbox>
                        </div>
                        <div class="fourteen wide column">
                          <label class="termsAgree">
                          I Agree To The <a (click)="showTermsOfUseModal = true;">Terms Of Use</a> And The <a (click)="showPrivacyPolicyModal=true">Privacy Policy</a>.
                          </label>
                          </div>
                        </div>
                        </div>

                        <!-- <div class="ui pointing red basic label"  *ngIf="signUpForm.controls['confirmPassword'].hasError('NoPassswordMatch') && !confirmPassword.pristine">
                         Password and Confirm Password Should Match
                        </div> -->
                            </div>
                            <div class="field">
                              <div class="two ui buttons">
                                <input class="ui  positive button" [disabled]="signUpForm.pristine || signUpForm.invalid || checkedPolicyBox === false || passIsInvalid || showUnmatchMessage || disableTillRequest" type="Submit" value="Sign Up">
                                <button class="ui negative button" [disabled]="signUpForm.pristine" (click)="signUpForm.reset();">Reset</button>
                              </div>
                            </div>
                    </form>
                    </div>
              </div>
              <h5 class="ui bottom attached center aligned inverted header">
                Already A User? Sign In <a [routerLink]="['/userGateway',{ outlets: { userGatewayRouter : ['login']}}]" routerLinkActive="active">Here.</a>
              </h5>
            </div>
      </div>



