.attached.header
{
    margin-top:10%;
}
.ui.grid
{
    margin : 0 !important;
}
.load-container{
  position:relative;
}
.load-container h3{
  position: absolute;
  top: -26px;
  left: 87%;
}
.load-container .loader{
  position: absolute;
  top: -36px;
  left: 87%;
  font-size: 2rem;
}
.load-container h3 .check{
  color : green;
}
.load-container h3 .close{
  color : red;
}
.dontmatch{
  margin-top:5% !important;
  color : red;
}
.termsAgree{
  font-weight: bold;
}
.agreement a{
  text-decoration: underline;
  cursor : pointer;
}
.agreement .fourteen{
  padding: 0 0 0 3% !important;
}
.agreement .one{
  padding: 0 !important;
}
.ui.basic.modal{
    display: block !important;
    height:100%;
    width:100%;
    overflow:hidden;
    top:0;
    left:0;
    background-color: rgb(0,0,0,0.85);
    position: fixed;
}
.modal p{
  color: black !important;
}
.closing{
    margin-right: 1% !important;
    margin-top: 1%;

}
.scrolling.content{
  max-height: calc(85vh) !important;
}
.required-note{
  color:red;
}
.default{
  color:cornflowerblue;
}
.error{
  color:rgba(218, 44, 44, 0.884);
}
.success{
  color: rgba(29, 192, 29, 0.836);
}
