.attached.header
{
    margin-top:10%;
}
.ui.grid
{
    margin : 0 !important;
}
.load-container{
  position:relative;
}
.load-container h3{
  position: absolute;
  top: -26px;
  left: 87%;
}
.load-container .loader{
  position: absolute;
  top: -36px;
  left: 87%;
  font-size: 2rem;
}
.load-container h3 .check{
  color : green;
}
.load-container h3 .close{
  color : red;
}
.dontmatch{
  margin-top:5% !important;
  color : red;
}
