<div class="ui four column centered grid">
  <div class=" column">
      <h3 class="ui top attached header center aligned inverted">Log In To Metdine</h3>
      <div class="ui raised attached segment">
        <img class="ui circular centered small image" src="../../../assets/molly.png">
        <div class="ui divider"></div>
            <div class="ui fluid form">
                <form [formGroup]="loginForm" (ngSubmit)="loginAction()" (ngForm)="loginUser">
                  <div class="field">
                    <input placeholder="Username"  formControlName="userName" type="text">
                    <div class="ui pointing red basic label"  *ngIf="userName.invalid && !userName.pristine && !userName.errors?.required">                      
                      Enter A Valid Username
                   </div>
                   <div class="ui pointing red basic label"  *ngIf="userName.errors?.required && !userName.pristine">                      
                    Username is required
                 </div>
                  </div>
                  <div class="field">
                    <input placeholder="Password" formControlName="password" type="text">
                    <div class="ui pointing red basic label"  *ngIf="password.errors?.required && !password.pristine">
                          Password Is Required
                   </div>
                      </div>
                      <div class="field">
                          <button class="ui  positive fluid button" [disabled]="loginForm.pristine || loginForm.invalid" type="submit">Login</button>
                      </div>
              </form>
              </div>
        </div>
        <h5 class="ui bottom attached center aligned inverted header">
          Don't Have An Account? Sign Up <a [routerLink]="['/userGateway',{ outlets: { userGatewayRouter : ['signup']}}]" routerLinkActive="active">Here.</a>
        </h5>
      </div>
</div>
