<div class="coming-soon">
<ng-container *ngIf="videosComponentControl else videosContent">
  <h1 class="coming-soon-text">
    Please visit <a href="https://facebook.com/metdine">Facebook.com/metdine</a> for all our videos
  </h1>
</ng-container>
</div>
<a routerLink="/user">
<button class="ui circular icon negative button"  data-inverted="" data-tooltip-position="top right" data-tooltip="Return To Home">
<i class="ui home icon"></i>
</button>
</a>
<ng-template #videosContent>
  <h1 class="coming-soon-text">
    Currently, we aren't posting articles on food and dining.You may visit
    our media partner's portal <a href="https://indianfolk.com">indianfolk.com</a> to
    read articles on a variety of topics including health, life, etc
  </h1>
</ng-template>
