<div class="container">
<div class="ui grid">
    <div class="ui centered six wide computer fifteen wide mobile twelve wide tablet column">
    <div class="ui form">
            <div class="ui column grid">
            <div class="sixteen wide column">
            <input type="text" [formControl]="searchBar" placeholder="Type Something..." 
            class="search-bar" autofocus>
            <h5 class="ui header searchItem"><mat-slide-toggle (change)="getsearchByItemFilter()">Search By Item</mat-slide-toggle></h5>
            </div>
            <div class="two wide column loader-wrapper" *ngIf="loading">
            <div class="ui active inline loader"></div>
            </div>
            </div>
    </div>
    </div>
    </div>
    <div class="ui grid">
        <div class="six wide computer fifteen wide mobile twelve wide tablet 
        centered column search-results">
        <ng-container *ngIf="searchBar.value != null else searchPlaceholder">
        <div class="ui very relaxed list">
            <ng-container *ngIf="searchItem else searchPlace">
                <div class="item" *ngFor="let result of queryResults;">
                    <img class="ui image rounded left floated " src="{{result.image}}"
                    [ngClass]="{
                      'tiny' : windowWidth < 500,
                      'small' : windowWidth > 500
                    }">
                        <div class="content">
                            <a class="header" (click)="sellerPage(result.id)">
                                <h4 class="ui header">
                                {{result.title}}
                                </h4>
                            </a>
                            <div class="description">
                            <a class="ui label" [ngClass]="{
                                'green' : result.is_veg == true,
                                'red' : result.is_veg == false
                            }">
                                {{result.is_veg}}
                            </a>
                            <p *ngIf="windowWidth > 500">
                                {{result.short_description | contentLength : 30}}
                            </p>
                        </div>
                        </div>
                    <div class="ui divider" *ngIf="windowWidth < 500"></div>
                </div>
            </ng-container>
        </div>
    </ng-container>
        </div>
    </div>
</div>  
<!--
    Placeholder in case nothing is searched or no results found
-->
<ng-template #searchPlaceholder>
    <div class="centered column">
        {{plText}}
    </div>
</ng-template>
<ng-template #searchPlace>
    <div class="item" *ngFor="let result of queryResults;">
        <img class="ui image rounded left floated " src="{{result.logo}}" (click)="sellerPage(result.id)"
        [ngClass]="{
          'tiny' : windowWidth < 500,
          'small' : windowWidth > 500
        }">
            <div class="content">
                <a class="header" (click)="sellerPage(result.id)">
                    <h4 class="ui header">
                    {{result.first_name}} {{result.last_name}}
                    </h4>
                </a>
                <div class="description">
                <a class="ui label" [ngClass]="{
                    'green' : result.category == 0,
                    'teal' : result.category == 1,
                    'yellow' : result.category == 2,
                    'black' : result.category == 3
                }">
                    {{getCategory(result.category)}}
                </a>
                <p *ngIf="windowWidth > 500">
                    {{result.desc | contentLength : 30}}
                </p>
            </div>
            </div>
        <div class="ui divider" *ngIf="windowWidth < 500"></div>
    </div>
</ng-template>