.column{
    padding-top:5%;
}
.maincontainer{
    margin-right: 3%;
    min-height:100vh;
}
.centeraligned{
    text-align: center;
}
.confirmedMask{
    background:hsla(0, 0%, 0%, 0.795);
    height:100%;
    position: absolute;
    width:100%;
    left:0;
    z-index: 99;
    transition: 0.4s all;
}
.confirmedMask:hover{
    background:hsla(0, 0%, 0%, 0.695);
}
.ui.basic.modal{
    display: block !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.95);
    color: #fff;
    position : fixed;
    z-index:99999;
}
.ui.modal .actions>.button{
    margin-left: 0 !important;
}
.content p{
    color:black;
    font-weight: bold;
}
.clcartmodal{
    top:50%;
    transform: translateY(-50%);
}
.sendImages{
    overflow: hidden;
}
.sentImages img{
    margin-left:50%;
    transform: translateX(-50%);
}
.timer{
    height:120px;
    width:120px;
    margin-left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    background:black;
    display:flex;
    align-items: center;
    justify-content: center;
    animation : 0.3s fadeIn ease-in;
    animation-fill-mode: forwards;
}
.timer .header{
    color: #fff !important;
}
.lock.icon{
    color : #fff !important;
    top:20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.lock-text{
    color:#fff !important;
    position : absolute;
    left: 50%;
    top : 30%;
    transform: translate(-50%,-50%);
}
@keyframes fadeIn{
  0%{
    opacity : 0;
  }
  100%{
    opacity : 1;
  }
}
