<ng-container *ngIf="imagesSent">
  <div class="ui basic modal" *ngIf="imagesSent[0].status == 'Sent'">
  <div class="ui two column computer column mobile centered grid container">
    <div class="row">
  <div class="ui compact center aligned segment clcartmodal">
  <div class="ui icon header" *ngIf="imagesSent[0].status == 'Sent'">
    <i class="clock icon"></i>
    <h4 class="ui header">Waiting For Buyer To Confirm Images</h4>
  </div>
  <div class="ui divider"></div>
  <div class="content">
    <div class="timer">
      <h1 class="ui header" *ngIf="timeLeft else loader">
        {{timeLeft}}
      </h1>
      <ng-template #loader>
        <div class="ui inline active loader"></div>
      </ng-template>
    </div>
    <div class="ui center sub header">
      Seconds Left
    </div>
  </div>
  <div class="ui divider"></div>
  <h5 class="ui header"  *ngIf="imagesSent[0].status == 'Sent'">
    <i class="ui exclamation circle icon"></i>
    Images Have Been Sent To The Buyer. Kindly Wait For The Buyer's Action.
  </h5>
  </div>
</div>
  </div>
</div>
</ng-container>
<ng-container *ngIf="imagesSent">
  <div class="ui basic modal" *ngIf="imagesSent[0].status == 'Partial' || !this.timerFlag">
  <div class="ui two column computer column mobile centered grid container">
    <div class="row">
  <div class="ui compact center aligned segment clcartmodal">
    <div class="ui icon header">
      <i class="circular phone icon"></i>
      Buyer Has Rejected The Images.
    </div>
    <div class="ui divider"></div>
    <h5 class="ui header">
      <i class="circular user icon"></i>
      {{orderDetails.customer_name}}
    </h5>
    <h5 class="ui header">
      <i class="circular phone icon"></i>
      {{orderDetails.customer_phone}}
    </h5>
  <div class="ui divider"></div>
  <div class="content">
    <div class="timer">
      <h1 class="ui header" *ngIf="timeLeft else loader">
        {{timeLeft}}
      </h1>
      <ng-template #loader>
        <div class="ui inline active loader"></div>
      </ng-template>
    </div>
    <div class="ui center sub header">
      Seconds Left
    </div>
  </div>
  <div class="ui divider"></div>
    <h5 class="ui header">
      <i class="ui exclamation circle icon"></i>
      Please Contact The Buyer Immediately Within 3 Minutes To Continue With The Order.
    </h5>
  </div>
</div>
  </div>
</div>
</ng-container>
     <div class="column maincontainer">
      <ng-container *ngIf="imagesSent !== undefined">
      <div class="ui error message" *ngIf="imagesSent[0].status == 'Rejected'">
        <i class="close icon"></i>
        <div class="header">
         Buyer rejected Images.
        </div>
        <ul class="list">
          <li>Unfortunately Buyer Rejected the Images. kindly Send Them Again</li>
        </ul>
      </div>
      <div class="ui positive message" *ngIf="imagesSent[0].status == 'Confirmed'">
        <i class="close icon"></i>
        <div class="header">
         Buyer Accepted Images.
        </div>
        <ul class="list">
          <li>Congrats. Buyer Accepted the Images. You Can Now Start the Delivery</li>
        </ul>
      </div>
      <div class="ui primary message" *ngIf="imagesSent[0].status == 'Sent'">
        <i class="close icon"></i>
        <div class="header">
         Sent Images To Seller.
        </div>
        <ul class="list">
          <li>Images Sent To Seller. Pending Verification.</li>
        </ul>
      </div>
      <ng-container *ngIf="imagesSent[0].status != 'Waiting'">
      <h1 class="ui center aligned header">Sent Images</h1>
      <div class="ui divider"></div>
      <div class="ui three column stackable centered grid row sentImages">
          <div class="column">
          <img src="{{imagesSent[0].image1}}" class="ui rounded medium image">
          </div>
          <div class="column">
              <img src="{{imagesSent[0].image2}}" class="ui rounded medium image">
          </div>
      <div class="column">
          <img src="{{imagesSent[0].image3}}" class="ui rounded medium image">
      </div>
      </div>
      </ng-container>
      </ng-container>
        <h2 class="ui top center aligned attached header">
            Send Pictures to User
          </h2>
          <div class="ui error message">
            <div class="header">
              Please Keep These Points In Mind Before Uploading The Image.
              The 3 Images Should Be As Follows.
            </div>
            <ul class="list">
              <li>Food dish from the top.</li>
              <li>Stove from the front.</li>
              <li>Kitchen counter top that has the stove.</li>
            </ul>
          </div>
          <div class="ui attached padded sendImages segment" [ngClass]="{
              'loading' : !orderDetails || loading
          }">
        <ng-container *ngIf="orderDetails">
        <div class="ui stackable grid">
        <div class="three wide column">
            <h1 class="ui header">Order Id : #{{orderDetails.id}}</h1>
        </div>
        <div class="two wide column">
            <a class="ui teal label">Ready</a>
        </div>
        <div class="three wide column">
            <h3 class="ui header">
              Revenue :
              {{orderDetails.total | currency:'INR'}}
          </h3>
          </div>
        <div class="eight wide column">
          <h3 class="ui header">
            Delivery To:
            {{orderDetails.address}}
          </h3>
        </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
          <table class="ui unstackable single line table">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>
                  <h4 class="ui header"><i class="stopwatch icon"></i></h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderDetails.items;let i = index;">
                <td>
                  <h4 class="ui image header">
                    {{item.meal_title}}
                  </h4>
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td>
                  <a class="ui label yellow">120</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">

        </div>
        <div class="ui hidden divider">
        </div>
        <div class="row">
          <ng-container  *ngIf="imagesSent">
            <ng-container *ngIf="imagesSent[0].status == 'Confirmed' || imagesSent[0].status == 'Sent'">
            <div class="confirmedMask">
            <div class="lock notice">
                <h4 class="ui center aligned icon header" *ngIf="imagesSent[0].status == 'Confirmed' else waitingAction">
                    <i class="lock icon"></i>
                <p class="lock-text">Buyer Has {{imagesSent[0].status}} The Images</p>
                </h4>
                <ng-template #waitingAction>
                  <h4 class="ui center aligned icon header">
                    <i class="lock icon"></i>
                <p class="lock-text">Images Have Been Sent. Please Wait For The Buyer's Action</p>
                </h4>
                </ng-template>
            </div>
            </div>
        </ng-container>
      </ng-container>
        <h3 class="ui center aligned header">
            Add 3 Images To Send
        </h3>
        <div class="center aligned row">
            <app-file-upload></app-file-upload>
        </div>
        <div class="row centeraligned">
        <button class="ui positive button" (click)="uploadOrderImages();loading = true" [disabled]="filesLength() !== 3">
            Submit
        </button>
        </div>
    </div>
    </ng-container>
      </div>
    </div>
