<div class="ui centered grid quickoptions">
    <ng-container *ngIf="sellerDashOptions else quickOptionsPlaceholder">
        <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui raised segment">
            <div class="content">
              <div class="header">
                <h3 class="ui centered header">
                    Meals Completed
                </h3></div>
                <div class="ui divider"></div>
              <div class="meta">
                <span>
                    <h1 class="ui centered header">
                  {{sellerDashOptions.meals}}
                  </h1>
                </span>
              </div>
            </div>
            </div>
          </div>
          <div class="column">
              <div class="ui raised segment">
              <div class="content">
                <div class="header">
                    <h3 class="ui centered header">
                      Orders Completed
                    </h3>
                  </div>
                  <div class="ui divider"></div>
                <div class="meta">
                  <span>
                      <h1 class="ui centered header">
                        {{sellerDashOptions.orders}}
                      </h1>
                  </span>
                </div>
              </div>
              </div>
            </div>
            <div class="column">
                <div class="ui raised segment">
                <div class="content">
                  <div class="header">
                      <h3 class="ui centered header">
                        Revenue Generated
                      </h3>
                    </div>
                    <div class="ui divider"></div>
                  <div class="meta">
                    <span>
                    <h1 class="ui centered header">
                      {{sellerDashOptions.revenue}}
                    </h1>
                    </span>
                  </div>
                </div>
                </div>
              </div>
            </div>
            </ng-container>

  </div> 
  <div class="ui grid">
  <div class="ten wide column">
  <div class="ui raised segment">
    <h2 class="ui center aligned icon  header">
      <i class="circular clipboard list icon"></i> Requested Orders
    </h2>
    <div class="ui hidden divider"></div>
    <div class="ui grid rorders" *ngFor="let order of sellerRequestedOrders;">
      <div class="row">
        <a class="ui black label">
          {{order.total | currency:'INR'}}
        </a>
        <a class="ui orange label">
          Waiting
        </a>
        <a class="ui teal label" *ngIf="getRemainingItems(order.id) > 0">
          Contains {{getRemainingItems(order.id)}} More Items.
        </a>
      </div>
      <div class="orderid four wide column">
      <h1 class="ui header">#{{order.id}}</h1>
      </div>
      <div class="eight wide column">
        <table class="ui single line table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.items;let i = index;">
              <td>
                <h4 class="ui image header">
                  {{item.meal_title}}
              </h4></td>
              <td>
                {{item.quantity}}
              </td>
            </tr>
        </tbody>
        </table>
      </div>
      <div class="four wide column actions">
        <button class="circular positive ui icon button" (click)="updateRequestedOrderStatus(order.id,1)">
          <i class="check icon"></i>
        </button>
        <button class="circular negative ui icon button" (click)="updateRequestedOrderStatus(order.id,6)">
          <i class="close icon"></i>
        </button>
        </div>
        <div class="row">
          <h4 class="ui sub header">
            Delivery To : {{order.address}}
          </h4>
        </div>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>
<div class="five wide column">
  <div class="ui segment">
    <h2 class="ui center aligned icon  header">
      <i class="circular tasks icon"></i> Active Orders
    </h2>
  </div>
</div>
</div>  
  <div class="ui hidden divider"> 
</div>
  <div class="ui centered link raised cards orders">
    <ng-container *ngIf="sellerActiveOrders else completedOrdersPlaceholder">
      <div class="ui card" *ngFor="let order of sellerActiveOrders;">
          <div class="content">
            <div class="header">Order Id : {{order.id}}</div>
            <h4 class="ui sub header">Address : {{order.address}}</h4>
            <h4 class="ui sub header">Amount : {{order.total}}</h4>
            <h4 class="ui sub header">Status : {{order.status}}</h4>
          </div>
          <div class="content">
            <h3 class="ui sub header">Order Summary</h3>
            <h4 class="ui sub header">Items : </h4>
            <div class="ui very relaxed horizontal list">
              <div class="item">
                <div class="content">
                  <div class="header">S No.</div>
                </div>
              </div>
                <div class="item">
                    <div class="content">
                      <div class="header">Item</div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="content">
                        <div class="header">Quantity</div>
                      </div>
                    </div>
            </div>
            <br>
            <div class="row"  *ngFor="let item of order.items;let i = index;">
            <div class="ui very relaxed horizontal list">
              <div class="item">
                <div class="content">
                  <div class="header">{{i}}</div>
                </div>
              </div>
                <div class="item">
                    <img class="ui avatar image" src="{{item.image}}">
                  </div>
                  <div class="item">
                    <div class="content">
                      <div class="header">{{item.quantity}}</div>
                    </div>
                  </div>
                  </div>
            </div>
          </div>
          <div class="extra content">
            <button class="ui orange left floated button" (click)="updateRequestedOrderStatus(order.id,1)">Cooking</button>
            <button class="ui teal right floated button" (click)="updateRequestedOrderStatus(order.id,2)">Ready</button>
            <button class="ui purple right floated button" (click)="updateRequestedOrderStatus(order.id,3)">On The Way</button>
            <button class="ui positive right floated button" (click)="updateRequestedOrderStatus(order.id,4)">Delivered</button>
          </div>
        </div>
      </ng-container>
  </div>
  <div class="ui hidden divider"></div>
<h2 class="ui center aligned icon header">
    <i class="check circle icon"></i>
    Completed Orders
  </h2> 
  <div class="ui center aligned grid">
    <div class="row status-index">
        <div class="three wide column">
            <a class="ui teal big label">
                <i class="mail icon"></i> Revenue
              </a>
        </div>
        <div class="four wide column">
            <a class="ui orange big label">
                <i class="user icon"></i> Date
              </a>
        </div>
        <div class="four wide column">
            <a class="ui black big label">
                <i class="user icon"></i> Name
              </a>
        </div>
    </div>
  </div>
<div class="ui link centered cards orders">
  <ng-container *ngIf="sellerCompletedOrders else completedOrdersPlaceholder">
    <div class="ui card" *ngFor="let order of sellerCompletedOrders;">
        <div class="content">
          <div class="header">Order Id : {{order.id}}</div>
          <h4 class="ui sub header">Address : {{order.address}}</h4>
          <h4 class="ui sub header">Total Revenue : {{order.total}}</h4>
          <h4 class="ui sub header">Status : {{order.status}}</h4>
        </div>
        <div class="content">
          <h3 class="ui sub header">Order Summary</h3>
          <h4 class="ui sub header">Items : </h4>
          <div class="ui very relaxed horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">S No.</div>
              </div>
            </div>
              <div class="item">
                  <div class="content">
                    <div class="header">Item</div>
                  </div>
                </div>
                <div class="item">
                    <div class="content">
                      <div class="header">Quantity</div>
                    </div>
                  </div>
          </div>
          <br>
          <div class="row" *ngFor="let item of order.items; let i = index;">
          <div class="ui very relaxed horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">{{i}}</div>
              </div>
            </div>
              <div class="item">
                  <img class="ui avatar image" src="{{item.image}}">
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">{{item.quantity}}</div>
                  </div>
                </div>
              </div>
        </div>
        </div>
        <div class="extra content">
          <button class="ui positive floated button">Completed</button>
        </div>
      </div>
    </ng-container>
</div>
  <!-- While API is fetching data create placeholders-->
  <!--
    Placeholder For Quick Dashboard Data
  -->
<ng-template #quickOptionsPlaceholder>
    <div class="ui three column stackable grid">
        <div class="column" *ngFor="let ph of [0,1,2]">
          <div class="ui raised segment">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="medium line"></div>
                <div class="short line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</ng-template>
    <!--
      Placeholder For Order Cards
    -->
<ng-template #completedOrdersPlaceholder>
    <div class="ui card plcompletedorders" *ngFor="let pl of [0,1,2]">
      <div class="ph-item">
        <div class="ph-picture"></div>
        <div class="ui divider"></div>
        <div class="ph-picture"></div>
        <div class="ph-col-12">
          <div class="ph-row">
              <div class="ph-col-4 big"></div>
          </div>
        </div>
      </div>
      <div class="extra content">
          <div class="ui disabled primary button">Options</div>
        </div>
      </div>
</ng-template>