.ui.grid.quickoptions
{
    padding:5%;
}
.ui.loader{
  z-index:99 !important;
}
.status-index .four.wide.column{
    width:16% !important;
}
.plcompletedorders .ph-item
{
    margin-bottom:  0 !important;
}
.orderid
{
  align-items: center;
  display: flex !important;
  justify-content: center;
  border-radius: 3px;
  background-color: black;
  text-align: center;
  word-break: break-word;
}
.orderid h1{
    color:#fff;
}
.rorders{
    padding: 0% 5% 0% 5%;
}
.eight.wide.column{
    padding: 0%  0% 0% 3% !important;
}
.actions{
    padding:7% 0% 7% 3% !important;
}
.blurred{
    filter : blur(3px);
}
.norequestedOrdersMessage{
    margin-top:50%;
    transform: translateY(-50%);
}
.nocompletedOrdersMessage{
    margin-top:10%;
}
.completedOrders .segment{
    padding-bottom : 10%;
}
.loader{
    min-height:200px;
}
.ui.basic.modal{
  display: flex !important;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  overflow:hidden;
  top:0;
  left:0;
  background-color: rgb(0,0,0,0.85);
  color:#fff;
  position: fixed;
}
.content p{
  color:black;
  font-weight: bold;
}
@media (max-width: 780px){
    .ui.grid.quickoptions
    {
        margin-top:10%;
    }
}
