<div class="ui four column centered grid">
    <div class="fifteen wide mobile four wide computer column">
        <h3 class="ui top attached header center aligned inverted">{{Title}}</h3>
        <div class="ui raised attached segment">
          <img class="ui rounded centered small image" src="../../../assets/phone.webp">
            <div class="ui message" *ngIf="enteredPhone">
                <h4 class="ui header">
                    A Four Digit OTP Has Been Sent To {{phone.value}}
                </h4>
            </div>
          <div class="ui divider"></div>
              <div class="ui fluid form">
                <div class="field">
                  <input placeholder="Phone Number" [formControl]="phone" type="text">
                  <div class="ui pointing red basic label"  *ngIf="
                  phone.errors?.minlength || phone.errors?.maxlength||
                  phone.errors?.pattern && !phone.pristine">
                    Enter A Valid Phone Number
                </div>
                <div class="ui pointing red basic label"  *ngIf="
                  phone.errors?.required && !phone.pristine">
                    Phone Number Is Required
                </div>
                <div class="ui hidden divider"></div>
                <button class="ui positive fluid button" (click)="requestOtpByDashboard()" *ngIf="!enteredPhone" [disabled]="phone.pristine || phone.invalid">Request OTP</button>
                </div>
                  <form [formGroup]="verifyPhone" (ngSubmit)="onSubmit(verifyPhone.value)" (ngForm)="verifyPhone" *ngIf="enteredPhone">
                    <div class="ui centered header">
                    <div class="ui red basic label"  *ngIf="otp.invalid && !otp.pristine">
                        The Otp Should Be Six Digit
                        </div>
                    </div>
                    <div class="field">
                      <input placeholder="Enter The Otp" formControlName="otp" type="number">
                    </div>
                        <div class="field">
                            <button class="ui  positive fluid button" [disabled]="verifyPhone.pristine || verifyPhone.invalid" type="submit">Submit OTP</button>
                        </div>
                </form>
                </div>
          </div>
          <h5 class="ui bottom attached center aligned inverted header">
            Go Back To <a [routerLink]="['/user']" routerLinkActive="active">Home.</a>
          </h5>
        </div>
  </div>
