@import "https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro&display=swap";
.quant{
    font-family: 'Righteous', cursive;
}
.ui.inline.loader{
  width: 1.28571429rem;
  height: 1rem;
  top: -10px;
  font-size: 2rem;
}

