<div class="ui centered grid">
    <div class="fifteen wide column">
      <div class="ui raised segment" [ngClass]="{
          'loading' : loading
      }">
        <h2 class="ui center aligned icon header">
          <i class="check circle icon"></i>
        Completed Orders
        </h2>
        <div class="ui hidden divider"></div>
        <ng-container *ngIf="ItemsSold">
        <div class="ui center aligned stackable grid" *ngIf="ItemsSold.length > 0 else noItemsSold">
          <div class="five wide column" *ngFor="let order of ItemsSold">
              <app-order-card [order]="order"></app-order-card>
          </div>
        </div>
      </ng-container>
      </div>
    </div>
    <ng-template #noItemsSold>
      <h2 class="ui centered header messagepl">
        No Items Sold Yet.
      </h2>
    </ng-template>
