<app-header-mask></app-header-mask>
<div class="ui sixteen wide column stackable ourteam grid"  id="our-team">
<section>
<div class="ui hidden divider"></div>
<div class="ui sixteen wide column abs">
<h1 class="ot">Our Team</h1>
</div>
<div class="ui hidden divider"></div>
<div class="sixteen wide column">
<div class="ui sixteen wide column tile tile-1 grid">
<h3 class="ui header">
Chandrashekar Katipelli
<h4 class="ui header">Co-Founder & CEO</h4>
</h3>
<p class="par">
Chandrashekar Katipelli is the Co-founder
and the CEO of Metdine. Besides his role at Metdine,
Chandrashekar is also the Managing Director of <a href="https://indianfolk.com">IndianFolk.com</a>,
a platform for opinion, analysis and commentary.
Chandrashekar has also written a book, 'Gandhi & Lincoln',
on the occasion of Mahatma Gandhi's 150th birth anniversary.
Prior to moving to India, Chandrashekar worked for the International
Monetary Fund (IMF) and VeriSign in the United States. Chandrashekar
has a bachelors degree from Osmania University College of Engineering
and an MBA in Finance from the University of Tennessee, Knoxville, United States.
</p>
</div>
<div class="ui stackable grid">
<div class="eight wide tile tile-2 column">
<h3 class="ui header">
Rekha Marri
<h4 class="ui header">Co-founder & CPO</h4>
</h3>
<p class="par">
  Rekha Marri is a Co-founder and Chief Product Officer of Metdine.
  Prior to Metdine, Rekha worked as a Software Engineer and Quality Assurance Director
  for Fourth Wall Media in the United States for many years before moving to India. Rekha
  has a bachelor's degree in computer science engineering from Gulbarga University and a
  masters degree in the same field from Texas A&M Kingsville in the United States.
</p>
</div>
<div class="eight wide tile tile-3 column">
<h3 class="ui header">
Pavani Bayappu
<h4 class="ui header">Co-founder & CTO</h4>
</h3>
<p class="par">
  Pavani Bayappu is a Co-founder and Chief Technology Office(CTO) of Metdine.
  Pavani draws from her extensive experience in delivering large programs, leading strategic planning,
  IT governance, technology implementation & innovation in healthcare, technology, online media sector.
  She is passionate about driving positive business outcomes and creating stellar customer experience.
  Pavani has a bachelors degree in Computer Science from Gulbarga University College of Engineering and
  a masters degree in computer science engineering from San Jose State University in the United States.
</p>
</div>
</div>
<div class="ui stackable grid">
<div class="six wide tile tile-4 column">
<h3 class="ui header">
Shoney Sebastian
<h4 class="ui header">Project Advisor</h4>
</h3>
<p class="par">
Shoney Sebastian is a Project Advisor for Metdine on behalf of
Consultant Cell of Department of Computer Science at CHRIST (Deemed to be University),
Bengaluru. Currently, Shoney is an Associate Professor at CHRIST
from where he obtained his PhD in Computer Science & Applications.</p>
</div>
<div class="five wide tile tile-5 column">
<h3 class="ui header">
Rahul Keluskar
<h4 class="ui header">Developer</h4>
</h3>
<p class="par">
Rahul Keluskar worked as a developer for Metdine prototype on behalf of Consultant Cell of
Department of Computer Science at CHRIST (Deemed to be University), Bengaluru.</p></div>
<div class="five wide tile tile-6 column">
<h3 class="ui header">
Dhananjay Singh Kanwar
<h4 class="ui header">Developer</h4>
</h3>
<p class="par">
Dhananjay Singh Kanwar worked as a developer for Metdine prototype on behalf of Consultant Cell of
Department of Computer Science at CHRIST (Deemed to be University), Bengaluru.</p></div>
</div>
</div>
</section>
</div>
<app-footer [isSellerSide]="true"></app-footer>
