<div class="ui four column centered grid">
        <div class=" column">
            <h3 class="ui top attached header center aligned inverted">Sign Up To Metdine</h3>
            <div class="ui raised attached segment">
              <img class="ui circular centered small image" src="../../../assets/molly.png">
              <div class="ui divider"></div>
              <div class="row">
                  <div class="ui fluid form">
                      <form [formGroup]="signUpForm" (ngSubmit)="signUpAction()">
                        <div class="field">
                          <input placeholder="First Name"  formControlName="fname" type="text">
                          <div class="ui pointing red basic label"  *ngIf="fname.invalid && !fname.pristine">
                                First Name Is Required
                         </div>
                        </div>
                        <div class="field">
                          <input placeholder="Last Name" formControlName="lname" type="text">
                          <div class="ui pointing red basic label"  *ngIf="lname.invalid && !lname.pristine">
                                Last Name Is Required
                         </div>
                        </div>
                        <div class="field">
                          <input placeholder="Phone Number" formControlName="phoneNumber" type="text">
                          <div class="ui pointing red basic label"  *ngIf="phoneNumber.invalid && !phoneNumber.pristine">
                                <span *ngIf="phoneNumber.errors.required">Phone Number Is required</span>
                                <span *ngIf="phoneNumber.errors.minlength || phoneNumber.errors.maxlength ||phoneNumber.errors.pattern">Enter A Valid Phone Number</span>
                         </div>
                        </div>
                        <div class="field">
                          <input placeholder="Email" formControlName="email" type="text">
                          <div class="ui pointing red basic label"  *ngIf="email.invalid && !email.pristine">
                            Enter A Valid Email
                        </div>
                        </div>
                        <div class="field">
                                <input placeholder="Password" formControlName="password" type="password">
                        <div class="ui pointing red basic label"  *ngIf="password.errors.required && !password.pristine">
                                Password Is Required
                         </div>
                        </div>
                        <div class="field">
                        <input placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                        <div class="ui pointing red basic label"  *ngIf="signUpForm.get('confirmPassword').hasError('MatchPassConfPass') && !confirmPassword.pristine">
                         Password and Confirm Password Should Match
                        </div>
                            </div>
                        <div class="ui buttons">
                          <button class="positive fluid ui button" [disabled]="signUpForm.pristine || signUpForm.invalid" type="submit">Sign Up</button>
                          <button class="negative fluid ui button" [disabled]="signUpForm.pristine">Reset</button>
                        </div>
                    </form>
                    </div>
              </div>
            </div>
              </div>
      </div>
