<div class="ui grid">
  <app-filter-sidebar></app-filter-sidebar>
  <div class="twelve wide column">
    <div class="ui link three cards">
      <ng-container *ngIf="getAllSellers() | async; else plForSellerCards">
      <div class="ui card" *ngFor="let seller of getAllSellers() | async">
        <div class="content">
          <h4 class="ui header">
            {{seller.first_name}} {{seller.last_name}}
          </h4>
        </div>
        <ng-container *ngIf="seller.logo else plForSellerLogo">
        <div class="image">
              <img src="{{seller.logo}}" alt="Seller Picture" [routerLink]="['/seller-page',seller.id]" routerLinkActive="active">
        </div>
      </ng-container>
        <div class="content">
          <h5 class="ui header">
            {{seller.address}}
          </h5>
          <div class="ui divider"></div>
        <div class="extra content">
            <i class="map signs icon"></i>
            <h4 class="right floated ui header">
              {{seller.distance/100 | number : '1.0-2'}} km
            </h4>
        </div>
       </div>
    </div>
     </ng-container>
    </div>
  </div>
</div>

<!--
  Create placeholders till API fetches the content
-->
<ng-template #plForSellerCards>
    <div class="ui card" *ngFor="let pl of [0,1,2,3,4,5]">
        <div class="image">
          <div class="ui placeholder">
            <div class="square image"></div>
          </div>
        </div>
        <div class="content">
          <div class="ui placeholder">
            <div class="header">
              <div class="very short line"></div>
              <div class="medium line"></div>
            </div>
            <div class="paragraph">
              <div class="short line"></div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui disabled right floated positive button">Add</div>
        </div>
      </div>
</ng-template>
<ng-template #plForSellerLogo>
    <div class="ui placeholder">
        <div class="square image"></div>
      </div>
</ng-template>