<div class="ui grid">
  <app-filter-sidebar></app-filter-sidebar>
  <div class="twelve wide column">
    <div class="ui three cards">
<div class="ui card" *ngFor="let seller of product.sellers$ | async">
<mat-card class="seller-card">
    <mat-card-header>
      <div mat-card-avatar class="seller-card-image"></div>
      <mat-card-title>{{seller.first_name}} {{seller.last_name}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <a [routerLink]="['/seller-page',seller.id]" routerLinkActive="active">
    <img mat-card-image src="{{seller.logo}}" alt="Seller Picture">
    </a>
    <mat-card-content>
      <h4>
        {{seller.address}}
      </h4>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button aria-label="Get Directions">
        <mat-icon class="material-icons" class="icon" aria-hidden="false" aria-label="directions icon">
        directions
        </mat-icon>
        </button>
        <span class="spacer"></span>
      <mat-chip-list>
            <mat-chip color="primary" selected>0.5 mi</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>
</div>