<div class="ui fourteen wide mobile only column grid container">
<div class="ui raised segment location">
  <h3 class="ui header">
    Current Location
  </h3>
  <div class="ui divider"></div>
    <h4 class="ui header" *ngIf="product.address else gettingAddress">
      {{product.address | contentLength : 60}}
    </h4>
  </div>
</div>
<div class="ui grid container sellers">
  <div class="sixteen wide computer sixteen wide mobile  ten wide doubling tablet centered column">
    <h1 class="ui centered header">
      Seller's Near You
    </h1>
    <div class="ui centered cards">
      <ng-container *ngIf="product.sellers$ | async; else plForSellerCards;">
        <ng-container *ngIf="!product.sellersArr else loadfromarray">
      <div class="ui card" *ngFor="let seller of product.sellers$ | async">
        <ng-container *ngIf="seller.logo else plForSellerLogo">
        <div class="image">
              <img src="{{seller.logo}}" alt="Seller Picture" 
              [routerLink]="['/user',{ outlets : { 'userRouterOutlet' : ['seller-page',seller.id]}}]" 
               routerLinkActive="active">
        </div>
      </ng-container>
      <div class="ui raised segment">
        <a class="ui violet label">
          {{seller.category | labelFilter : 'category'}}
        </a>
        <a class="ui black label">
          <i class="map icon"></i>
          {{seller.distance | number : '1.0-2'}} km
        </a>
        <h3 class="ui header">
          {{seller.first_name}} {{seller.last_name}}
        </h3>
        <p class="ui sub header">
          {{seller.address | contentLength : 30}}
        </p>
      </div>
    </div>
  </ng-container>
     </ng-container>
    </div>
  </div>
</div>

<!--
  Create placeholders till API fetches the content
-->
<ng-template #plForSellerCards>
<div class="Message">
  Preparing The App For You
</div>
</ng-template>
<ng-template #plForSellerLogo>
    <div class="ui placeholder">
        <div class="square image"></div>
      </div>
</ng-template>
<ng-template #gettingAddress>
  <div class="ui centered header">
    Getting Your Location...
    <div class="ui active inline loader"></div>
  </div>
</ng-template>
<ng-template  #loadfromarray>
  <div class="ui card" *ngFor="let seller of product.sellersArr">
    <ng-container *ngIf="seller.logo else plForSellerLogo">
    <div class="image">
          <img src="{{seller.logo}}" alt="Seller Picture" 
          [routerLink]="['/user',{ outlets : { 'userRouterOutlet' : ['seller-page',seller.id]}}]" 
           routerLinkActive="active">
    </div>
  </ng-container>
  <div class="ui raised segment">
    <a class="ui violet label">
      {{seller.category | labelFilter : 'category'}}
    </a>
    <a class="ui black label">
      <i class="map icon"></i>
      {{seller.distance | number : '1.0-2'}} km
    </a>
    <h3 class="ui header">
      {{seller.first_name}} {{seller.last_name}}
    </h3>
    <p class="ui sub header">
      {{seller.address | contentLength : 30}}
    </p>
  </div>
</div>
</ng-template>