@import "https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap";

.main{
  background-color: #f5f5f7;
}
.sellers
{
  min-height: 300px;
  padding-top:4%;
}
.mainTitle{
  font-family: 'Righteous', cursive;
}
.location{
  min-width:100%;
}
.currentLocation{
   word-wrap: break-word;
}
.fifteen.wide.column.mobile.only{
  margin-bottom: 5%;;
}
.ui-mask-nosellers{
  min-height : 100vh;
  min-width: 100%;
  position : absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#maxRetry{
  height: 100%;
  width: 100% !important;
  background: black;
  z-index: 99999;
  padding: 9%;
  animation: 0.3s fadeIn ease-in;
  -moz-animation: 0.3s fadeIn ease-in;
  -o-animation: 0.3s fadeIn ease-in;
}
#maxRetry .header{
  color : #fff !important;
}
.sellerLink{
  cursor: pointer;
}
.item-card{
  border: 1px solid rgb(204 204 204 / 58%);
  min-height: 270px;
  width: 20vw;
  background: white;
  border-radius: 5px;
  padding:2%;
  margin-right:5%;
  margin-bottom:5%;
}

.item-head{
  min-height: 90px;
  padding: 5% 0% 5% 0%;
}
.distance .header{
  color: #c1c1ce;
  font-family: 'Montserrat', sans-serif;
}
.logo{
  position: absolute;
}
.details{
  margin-top:5%;
  padding:3%;
}
.address .header{
  margin-top:3%;
  font-weight: 300;
}
.item-name .header{
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
}
.item-name .header:hover{
  text-decoration: underline;
}
.category .header{
  font-family: 'Montserrat', sans-serif;
  color: #d2d2e6;
}
.logo img{
  height:70px;
  width:70px;
  border-radius: 50%;
  border: 1px solid rgb(204 204 204 / 58%);
  z-index: 99;
  outline: none;
}
.cards-holder{
  display: inline-flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding-top:3%;
}
.Message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    text-align: center;
}
@media only screen and (max-width:600px){
  .cards-holder{
    display: block;
  }
  .item-card{
    width: 93vw;
  }
}
@media only screen and (max-width:350px){
  .item-card{
    width: 92vw;
  }
}
@media (max-width: 500px){
  .ui.card{
    margin-bottom:25% !important;
  }
  #maxRetry{
    position: fixed;
    margin-left: 0 !important;
  }
}
@keyframes fadeIn{
  from{
    opacity : 0;
  }
  to{
    opacity: 1;
  }
}
@media(min-width : 1000px){
  #maxRetry{
    position: absolute;
    top: 10%;
    left: 0;
  }
}

