<app-header *ngIf="isLoggedIn"></app-header>
<div class="ui centered six wide column grid" *ngIf="messageVisible && !numberVerified">
    <div class="ui centered error message">
        <i class="close icon" (click)="switchMessage()"></i>
        We Request You To Add Your Phone Number For Additional Security.
        <button class="ui negative button" (click)="verifyPhone()">Add Phone Number</button>
    </div>
    </div>
<router-outlet name="userRouterOutlet"></router-outlet>
<app-footer></app-footer>
