    <div class="stretched column">
    <div class="ui raised segment">
        <h2 class="ui center aligned icon header">
            <i class="circular angellist icon"></i>
            Previous Orders
        </h2>
        <div class="ui divider"></div>
        <ng-container *ngIf="sellerPreviousOrders else loading">
            <ng-container *ngIf="sellerPreviousOrders.length > 0 else noOrdersMade">
            <div class="three wide column" *ngFor="let order of sellerPreviousOrders">
                <app-order-card [order]="order" [buyerSide]="true"></app-order-card>
            </div>
        </ng-container>
        </ng-container>
    </div>
    </div>
    <ng-template #noOrdersMade>
        <h3 class="ui header noOrders">
            You Haven't Made Any Orders Yet!
        </h3>
    </ng-template>
    <ng-template #loading>
        <div class="ui centered column grid container loader-container">
            <div class="ui active inline loader"></div>
        </div>
    </ng-template>
