<div class="ui stackable grid container">
    <div class="ten wide stretched column">
    <div class="ui raised segment">
        <h2 class="ui center aligned icon header">
            <i class="circular angellist icon"></i>
            Previous Orders
        </h2>
        <ng-container *ngIf="sellerPreviousOrders">
            <div class="three wide column" *ngFor="let order of sellerPreviousOrders">
                <app-order-card [order]="order"></app-order-card>
            </div>
        </ng-container>
    </div>
    </div>
    <div class="six wide column">
    <div class="ui raised compact segment">
        <app-bodycards></app-bodycards>
    </div>
    </div>
</div>
