<div class="ui four column centered grid">
    <div class=" column">
          <img class="ui rounded centered small image" src="../../../assets/molly.jpg">
          <div class="row">
              <div class="ui form">
                    <div class="field">
                      <label>First Name</label>
                      <input placeholder="Read Only" readonly="" type="text">
                    </div>
                    <div class="field">
                      <label>Last name</label>
                      <input placeholder="Read Only" readonly="" type="text">
                    </div>
                    <div class="field">
                      <label>Description</label>
                      <textarea placeholder="Read Only" readonly="" type="text"></textarea>
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <input placeholder="Read Only" readonly="" type="text">
                      </div>
                    <div class="field">
                      <button class="negative fluid ui button">Edit</button>
                    </div>
                </div>
          </div>
      </div>
  </div>