<div class="ui-mask"></div>
<div class="ui grid container">
    <div class="five wide computer twelve wide tablet fourteen wide mobile column segcontainer">
    <h3 class="ui top attached header center aligned inverted">Confirm Your Email Address</h3>
    <div class="ui centered attached segment">
        <div class="ui centered header">
            <div class="ui hidden divider"></div>
            <a class ="logo_text"><span>Metdine</span></a>
        </div>
        <h4 class="ui center aligned header">
            Kindly Click On The Button Below To Confirm Your Email With Metdine.
        </h4>
        <div class="ui divider"></div>
        <button class="ui blue fluid button">
            Please Confirm my Email.
        </button>
    </div>
</div>
</div>
